<!-- component send money summary begin -->
<div class="toast send-money-summary-modal show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
        <div class="send-money-summary mb-3">
            <div class="row">
                <div class="col-12">
                    <div class="send-money-summary-title data-input">
                        Summary
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="send-money-summary-header">
                        Amount

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <div class="data-display data-display-3">
                        <div class="data-input">Destination country</div>
                    </div>
                </div>
                <div class="col-6 form-group">
                    <div class="data-display data-display-2 emphasis">
                        <div class="data-input">Czech Republic</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 form-group">
                    <div class="data-display data-display-3">
                        <div class="data-input">Destination Amount</div>
                    </div>
                </div>

                <div class="col-6  form-group">
                    <div class="heading-display-4 heading-bold">1000 EUR</div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <div class="data-display data-display-3">
                        <div class="data-input">Comission</div>
                    </div>
                </div>
                <div class="col-6 form-group">
                    <div class="data-display data-display-2 emphasis">
                        <div class="data-input">100 EUR</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <div class="data-display data-display-3">
                        <div class="data-input">Rate</div>
                    </div>
                </div>
                <div class="col-6 form-group">
                    <div class="data-display data-display-2 emphasis">
                        <div class="data-input">1 EUR = 1.09164 USD</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="send-money-summary-header">
                        To
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <div class="data-display data-display-3">
                        <div class="data-input">Full Name</div>
                    </div>

                </div>
                <div class="col-6 form-group">
                    <div class="heading-display-4 heading-variation heading-bold">Pushkin Alexander Sergeevich</div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <div class="data-display data-display-3">
                        <div class="data-input">Date of Birth</div>
                    </div>
                </div>
                <div class="col-6 form-group mb-3">
                    <div class="data-display data-display-2 emphasis">
                        <div class="data-input">01.01.1988</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <div class="data-display data-display-3">
                        <div class="data-input">Sex</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="data-display data-display-2 emphasis">
                        <div class="data-input">M</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- component send money summary end -->