<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Custom Button
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Custom Button</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3 my-1">
                <h4>collapse:</h4>
                <!-- button collapse begin -->
                <button type="button" class="btn btn-link btn-collapse"></button>
                <!-- button collapse end -->
            </div>
            <div class="col-3 my-1">
                <h4>preview:</h4>
                <!-- button preview begin -->
                <button type="button" class="btn btn-link btn-preview"></button>
                <!-- button preview end -->
            </div>
            <div class="col-3 my-1">
                <h4>print:</h4>
                <!-- button print begin -->
                <button class="btn btn-block btn-warning btn-print">
                    Order / Receipt
                </button>
                <!-- button print end -->
            </div>
            <div class="col-3 my-1">
                <h4>info:</h4>
                <!-- button-info begin -->
                <button class="btn btn-block btn-info btn-info-icon">
                </button>
                <!-- button-info end -->
            </div>
            <div class="col-3 my-1">
                <h4>scanner:</h4>
                <!-- button-scanner begin -->
                <button class="btn btn-link btn-scanner">
                    Scanner
                </button>
                <!-- button-scanner end -->
            </div>
            <div class="col-3 my-1">
                <h4>camera:</h4>
                <!-- button camera begin -->
                <button class="btn btn-link btn-camera">
                    Camera
                </button>
                <!-- button camera end -->
            </div>
            <div class="col-3 my-1">
                <h4>folder button:</h4>
                <!-- button-folder begin -->
                <button class="btn btn-link btn-folder">
                    Folder
                </button>
                <!-- button-folder end -->
            </div>
            <div class="col-3 my-1">
                <h4>parse:</h4>
                <!-- button-mrz begin -->
                <button class="btn btn-link btn-parse">
                    Parse text
                </button>
                <!-- button-mrz end -->
            </div>
            <div class="col-3 my-1">
                <h4>trash:</h4>
                <!-- button-trash begin -->
                <button class="btn btn-link btn-trash btn-lg">
                </button>
                <!-- button-trash end -->
            </div>
            <div class="col-3 my-1">
                <h4>edit:</h4>
                <!-- button-edit begin -->
                <button class="btn btn-link btn-edit">
                </button>
                <!-- button-edit end -->
            </div>
            <div class="col-3 my-1">
                <h4>zoom-out:</h4>
                <!-- button-zoom-out begin -->
                <button class="btn btn-link btn-zoom-out btn-sm">
                </button>
                <!-- button-zoom-out end -->
            </div>
            <div class="col-3 my-1">
                <h4>zoom-in:</h4>
                <!-- button-zoom-in begin -->
                <button class="btn btn-link btn-zoom-in btn-sm">
                </button>
                <!-- button-zoom-in end -->
            </div>
            <div class="col-3 my-1">
                <h4>refresh:</h4>
                <!-- button-refresh begin -->
                <button class="btn btn-link btn-refresh">
                </button>
                <!-- button-refresh end -->
            </div>
            <div class="col-3 my-1">
                <h4>crop:</h4>
                <!-- button-crop begin -->
                <button class="btn btn-link btn-crop btn-sm">
                </button>
                <!-- button-crop end -->
            </div>
            <div class="col-3 my-1">
                <h4>expand:</h4>
                <!-- button-expand begin -->
                <button class="btn btn-link btn-expand btn-lg">
                </button>
                <!-- button-expand end -->
            </div>
            <div class="col-3 my-1">
                <h4>xls:</h4>
                <!-- button-xls begin -->
                <button class="btn btn-info btn-lg btn-xls"></button>
                <!-- button-xls end -->
            </div>
            <div class="col-3 my-1">
                <h4>pdf:</h4>
                <!-- button-pdf begin -->
                <button class="btn btn-primary btn-lg btn-pdf"></button>
                <!-- button-pdf end -->
            </div>
            <div class="col-3 my-1">
                <h4>csv:</h4>
                <!-- button-csv begin -->
                <button class="btn btn-info btn-lg btn-csv btn-csv"></button>
                <!-- button-csv end -->
            </div>
            <div class="col-3 my-1">
                <h4>sign-out:</h4>
                <!-- button sign-out begin -->
                <button class="btn btn-link btn-lg btn-sign-out">
                </button>
                <!-- button sign-out end -->
            </div>
            <div class="col-3 my-1">
                <h4>eye-slash:</h4>
                <!-- button eye-slash begin -->
                <button type="button" class="btn btn-link btn-eye-slash"></button>
                <!-- button eye-slash end -->
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>