<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        //= chunks/theme-name.html
        - Modal window
    </title>
    //= chunks/head.html
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Modal window</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Success:</h4>
                <a href="#myModal2" id="btn2" class="btn btn-info">Open the modal success</a>
                //= components/modal/component-modal-success.html
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
                <h4>Danger (Error):</h4>
                <a href="#myModal3" id="btn3" class="btn btn-danger">Open the modal error</a>
                //= components/modal/component-modal-danger.html
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
                <h4>Warning:</h4>
                <a href="#myModal4" id="btn4" class="btn btn-warning">Open the modal warning</a>
                //= components/modal/component-modal-warning.html
            </div>
        </div>
        <script>
            $(function () {
                $("#btn2").click(function () {
                    $("#myModal2").modal('show');
                });
                $("#btn3").click(function () {
                    $("#myModal3").modal('show');
                });
                $("#btn4").click(function () {
                    $("#myModal4").modal('show');
                });
            });
        </script>
    </div>

</body>
//= script/scripts.html

</html>