<div class="row">
        <div class="col-12 col-sm-6 col-lg-6">
                <div class="row">
                        <div class="col">
                            <label> </label> 
                        </div>
                    </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>Surname</label>
                    <div class="h4 heading-display-4 heading-variation heading-normal">Smith</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>Name</label>
                    <div class="h4 heading-display-4 heading-variation heading-normal">William</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>Middle name (optional)</label>
                    <div class="h4 heading-display-4 heading-variation heading-normal">n/a</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>Date of Birth</label>
                    <div class="h4 heading-display-4 heading-variation heading-normal">11.11.1976</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>Nationality</label>
                    <div class="h4 heading-display-4 heading-variation heading-normal">United Kingdom</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>Sex</label>
                    <div class="h4 heading-display-4 heading-variation heading-normal">Male</div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6">
                <div class="row">
                        <div class="col"> 
                            <label>Adress </label>
                        </div>
                    </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>Country</label>
                    <div class="h4 heading-display-4 heading-variation heading-normal">United Kingdom</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>City</label>
                    <div class="h4 heading-display-4 heading-variation heading-normal">London</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>Street</label>
                    <div class="h4 heading-display-4 heading-variation heading-normal">Trafalgar square</div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 col-sm-12 col-lg-12 form-group">
                    <label>Bld.</label>
                    <div class="h4 heading-display-4 heading-variation heading-normal">12</div>
                </div>
                <div class="col-3 col-sm-12 col-lg-12 form-group">
                        <label>Apart</label>
                        <div class="h4 heading-display-4 heading-variation heading-normal">051</div>
                    </div>
                <div class="col-6 col-sm-12 col-lg-12 form-group">
                        <label>Postcode</label>
                        <div class="h4 heading-display-4 heading-variation heading-normal">WC2N 5BW</div>
                    </div>
            </div> 
        </div>
    </div>