<!-- component-login-form-verifying begin -->
<div class="login-form login-form-verifying">
    <div class="login-form-title">
        <div>Verifying</div>
    </div>
    <div class="login-form-info mb-1">
        <div>We have sent code to your number by SMS. Enter it below.</div>
    </div>
    <div class="login-form-telephon mb-4">
        <a href="tel: +79007000000" class="h1 login-form-telephon-number heading-display-1">+44 20****5751</a>
    </div>
    <div class="login-form-block">
        <div class="login-form-input">
            <input class="form-control form-control-lg" type="text" placeholder="Verification code">
        </div> 
        <div class="login-form-button">
            <button type="button" class="btn btn-primary btn-block btn-lg">Ok</button>
        </div> 
        <div class="login-form-agree">
            <a href="#" class="login-form-agree-link">Send again</a> after 30 seconds
        </div>
    </div>
    
</div>
<!-- component-login-form-verifying end -->