<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Data display
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Data display</h2>
            </div>
        </div>
    </div> 
    <div class="container">
        <h3>data-display-1</h3>
        <div class="row">
            <div class="col">
                <!-- component control-data-display begin -->
                <div class=" data-display data-display-1">
                    <label class="data-label">Regular</label>
                    <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                </div>
                <!-- component control end -->
            </div>
            <div class="col">
                <!-- component control-data-display begin -->
                <div class=" data-display data-display-1 emphasis">
                    <label class="data-label">emphasis(Bold)</label>
                    <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                </div>
                <!-- component control end -->
            </div>
            <div class="col">
                <!-- component control-data-display begin -->
                <div class=" data-display data-display-1 variation">
                    <label class="data-label">variation(Titillium Regular)</label>
                    <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                </div>
                <!-- component control end -->
            </div>
            <div class="col">
                <!-- component control-data-display begin -->
                <div class=" data-display data-display-1 label-inline muted">
                    <label class="data-label">label-inline(Medium)</label>
                    <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                </div>
                <!-- component control end -->
            </div>

            <div class="col">
                <!-- component control-data-display begin -->
                <div class=" data-display data-display-1 emphasis variation">
                    <label class="data-label">variation + emphasis(Titillium Bold)</label>
                    <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                </div>
                <!-- component control end -->
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <h3>data-display-2</h3>
        <div class="row">
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-2">
                        <label class="data-label">Regular</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-2 emphasis">
                        <label class="data-label">emphasis(Bold)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-2 variation">
                        <label class="data-label">variation(Titillium Regular)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-2 label-inline muted">
                        <label class="data-label">label-inline(Medium)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
    
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-2 emphasis variation">
                        <label class="data-label">variation + emphasis(Titillium Bold)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
            </div>
    </div>
    <div class="container">
        <hr>
        <h3>data-display-3</h3>
        <div class="row">
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-3">
                        <label class="data-label">Regular</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-3 emphasis">
                        <label class="data-label">emphasis(Bold)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-3 variation">
                        <label class="data-label">variation(Titillium Regular)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-3 label-inline muted">
                        <label class="data-label">label-inline(Medium)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
    
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-3 emphasis variation">
                        <label class="data-label">variation + emphasis(Titillium Bold)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
            </div>
    </div>
    <div class="container">
        <hr>
        <h3>data-display-4</h3>
        <div class="row">
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-4">
                        <label class="data-label">Regular</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-4 emphasis">
                        <label class="data-label">emphasis(Bold)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-4 variation">
                        <label class="data-label">variation(Titillium Regular)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-4 label-inline muted">
                        <label class="data-label">label-inline(Medium)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
    
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-4 emphasis variation">
                        <label class="data-label">variation + emphasis(Titillium Bold)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
            </div>
    </div>
    <div class="container">
        <hr>
        <h3>data-display-5</h3>
        <div class="row">
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-5">
                        <label class="data-label">Regular</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-5 emphasis">
                        <label class="data-label">emphasis(Bold)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-5 variation">
                        <label class="data-label">variation(Titillium Regular)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-5 label-inline muted">
                        <label class="data-label">label-inline(Medium)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
    
                <div class="col">
                    <!-- component control-data-display begin -->
                    <div class=" data-display data-display-5 emphasis variation">
                        <label class="data-label">variation + emphasis(Titillium Bold)</label>
                        <input class="form-control data-input" type="text" value="Roboto Slab" disabled>
                    </div>
                    <!-- component control end -->
                </div>
            </div>
    </div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>