<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        //= chunks/theme-name.html
        - Custom Radio
    </title>
    //= chunks/head.html
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Custom Radio, Custom Radio Inline</h2>
            </div>
            <div class="col-12 mb-5">
                <div class="row">
                    <div class="col-12">
                        <h5>
                            Custom Radio
                        </h5>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>label lg</label>
                            //= components/custom-radio/component-custom-radio-lg.html
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>label md</label>
                            //= components/custom-radio/component-custom-radio.html
                        </div>
                    </div>
                    <div class="col-4">
                        <label>label sm</label>
                        //= components/custom-radio/component-custom-radio-sm.html
                    </div>
                </div>
                <div class="row">
                        <div class="col-12">
                            <hr>
                            <h5>
                                Custom Radio (disabled)
                            </h5>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>label lg</label>
                                //= components/custom-radio/component-custom-radio-lg-disabled.html
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>label md</label>
                                //= components/custom-radio/component-custom-radio-disabled.html
                            </div>
                        </div>
                        <div class="col-4">
                            <label>label sm</label>
                            //= components/custom-radio/component-custom-radio-sm-disabled.html
                        </div>
                    </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                        <h5>
                            Custom Radio Inline
                        </h5>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>label lg</label>
                            <div class="form-radio-inline">
                                //= components/custom-radio/component-custom-radio-lg.html
                                //= components/custom-radio/component-custom-radio-lg.html
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>label md</label>
                            <div class="form-radio-inline">
                                //= components/custom-radio/component-custom-radio.html
                                //= components/custom-radio/component-custom-radio.html
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <label>label sm</label>
                        <div class="form-radio-inline">
                            //= components/custom-radio/component-custom-radio-sm.html
                            //= components/custom-radio/component-custom-radio-sm.html
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>

</body>
//= script/scripts.html

</html>