<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        //= chunks/theme-name.html
        - Notification-blocks
    </title>
    //= chunks/head.html
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Notification-blocks</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>One:</h4>
                //= components/notification-blocks/notification-blocks-one.html
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Two:</h4>
                //= components/notification-blocks/notification-blocks-two.html
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Three:</h4>
                //= components/notification-blocks/notification-blocks-three.html
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Four:</h4>
                //= components/notification-blocks/notification-blocks-four.html
            </div>
        </div>
    </div>

</body>
//= script/scripts.html

</html>