<!-- component-step-read-only-4 begin -->
<div class="row component-step">
    <div class="col-12 component-step-read-only">
        <div class="row">
            <div class="col">
                <div class="component-step-title mb-2">Step 4 (optional)</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="component-step-pre-title">Residence confirmation<span
                        class="badge badge-warning ml-2">Added</span><button
                        class="btn btn-link btn-lg  btn-edit  "></button></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="row">
                    <div class="col-12 form-group">
                        <label>Identity document</label>
                        <div class="h4 heading-display-4 heading-variation heading-normal">Passport</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        <label>Number ID</label>
                        <div class="h4 heading-display-4 heading-variation heading-normal">7500655412 </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        <label>Issued by</label>
                        <div class="h4 heading-display-4 heading-variation heading-normal">Ministry of foreign affairs
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-6 col-lg-6">
                <div class="row">
                    <div class="col-12 form-group">
                        <label>Citizenship</label>
                        <div class="h4 heading-display-4 heading-variation heading-normal">United Kingdom</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        <label>Issued by</label>
                        <div class="h4 heading-display-4 heading-variation heading-normal">31.03.2018</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        <label>Expired by</label>
                        <div class="h4 heading-display-4 heading-variation heading-normal">30.03.2028</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- After click button "Scan ID" div below is visible  -->
        <div class="row mb-4">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 mb-3">
                        <h2 class="component-step-pre-title">Scan Identity Document<span
                                class="badge badge-warning ml-2">Added</span> </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col">
                                <div class="h4 heading-display-4 heading-variation heading-normal">Passport 01 <button
                                        type="button" class="btn btn-link btn-preview btn-lg"></button></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="h4 heading-display-4 heading-variation heading-normal">Passport 02 <button
                                        type="button" class="btn btn-link btn-preview btn-lg"></button></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6"></div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="component-step-info data-display data-display-2">
                    <div class="data-input">
                        <div class="mb-2">Please upload your relevant ID document. Please&nbspensure&nbspthat:</div>
                        <ul class="component-step-list">
                            <li>the photo is well lit without hotspots</li>
                            <li>your ID is completely in focus</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 text-center m-auto"><button class="btn btn-primary btn-lg">Scan ID</button>
            </div>
        </div>
    </div>
</div>
<!-- component-step-read-only-4 end -->