<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Security
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>
    <header class="header navbar">
        <div class="logo">
            <a href="/">
                <img class="logo-img" src="../../assets/img/logo.png">
            </a>
        </div>
        <div>
            <div class="input-group">
                <div class="input-group-prepend custom-dropdown custom-dropdown-point">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Points</button>
                    <div class="dropdown-menu animate slideIn">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
                <div class="input-group-prepend custom-dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">En</button>
                    <div class="dropdown-menu animate slideIn">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </div>
                <div>
                    <!-- component-custom-navigation begin -->
                    <nav class="navbar custom-navbar navbar-light bg-light">
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <div class="nav-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                  </div>
                        </button> 
                    
                        
                    </nav>
                    <div class="custom-navbar">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle h2" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            Remittance
                                        </a>
                                        <div class="dropdown-menu show" aria-labelledby="navbarDropdown1">
                                            <a class="dropdown-item" href="#">Send money</a>
                                            <a class="dropdown-item" href="#">History</a> 
                                            <a class="dropdown-item" href="#">Receivers</a>
                                            <a class="dropdown-item" href="#">Drafts</a> 
                                        </div>
                                    </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle h2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Profile
                                    </a>
                                    <div class="dropdown-menu show" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Personal data</a>
                                        <a class="dropdown-item" href="#">Account</a>
                                        <a class="dropdown-item" href="#">Security</a>  
                                        <a class="dropdown-item" href="#">Settings</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- component-custom-navigation end -->
                    <script>
                    $(document).ready(function(){
                    	$('.nav-icon').click(function(){
                    		$(this).toggleClass('open');
                    	});
                    });
                    </script>
                </div>
            </div>
        </div>
    </header>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 mb-3">
                <!-- coomponent-custom-header begin -->
                <div class="custom-header row">
                    <div class="col custom-header-block">
                        <div class="custom-header-left">
                            <!-- component-custom-navigation begin -->
                            <nav class="navbar custom-navbar navbar-light">
                                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <div class="nav-icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </button>
                
                
                            </nav>
                            <div class="custom-navbar">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle h2" href="#" id="navbarDropdown1" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Remittance
                                            </a>
                                            <div class="dropdown-menu show" aria-labelledby="navbarDropdown1">
                                                <a class="dropdown-item" href="#">Send money</a>
                                                <a class="dropdown-item dropdown-on-item" href="#">History</a>
                                                <a class="dropdown-item" href="#">Receivers</a>
                                                <a class="dropdown-item" href="#">Drafts</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle h2" href="#" id="navbarDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Profile
                                            </a>
                                            <div class="dropdown-menu show" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="#">Personal data</a>
                                                <a class="dropdown-item" href="#">Account</a>
                                                <a class="dropdown-item" href="#">Security</a>
                                                <a class="dropdown-item" href="#">Settings</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- component-custom-navigation end -->
                            <script>
                                $(document).ready(function () {
                                    $('.nav-icon').click(function () {
                                        $(this).toggleClass('open');
                                    });
                                });
                            </script>
                
                        </div>
                        <div class="custom-header-right">
                            <div class="custom-header-phone">
                                <a href="tel: +79007000000" class="h1 custom-header-phone-number heading-display-1">+44 20****5751</a>
                            </div>
                            <a href="#" class="btn btn-link btn-lg btn-sign-out pt-2 pr-0"></a>
                        </div>
                    </div>
                </div>
                <!-- coomponent-custom-header begin -->
            </div>

            <div class="col-12">
                <h2 class="heading-display-2 heading-variation">Security</h2>
            </div>
            <div class="col-12">
                <div class="row component-security">
                    <div class="col-12 col-lg-6 mb-2">
                        <div class="row">
                            <div class="col">
                                <h2 class="component-security-title">Phone number<span
                                        class="badge badge-success ml-2">Confirmed</span><button
                                        class="btn btn-link btn-lg  btn-edit  "></button></h2>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="data-display data-display-2">
                                    <div class="data-input">
                                        Your phone number is for confirmation sending remittances purpose and managing
                                        profile info.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-12 form-group">
                                <input type="text" readonly class="form-control-plaintext custom-user-input-readonly" id="staticEmail2" value="+44 20x x x x 5751">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="data-display data-display-2">
                                    <div class="data-input">
                                        Change phone number by calling us to +44 0000 000051.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="data-display data-display-2">
                                    <div class="data-input">
                                        Add E-mail and create Password to make your account more secure and being able
                                        to get acces to your account worlwide even when you can not reach your mobile
                                        phone.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row component-security">
                    <div class="col-12 col-lg-6 mb-2">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="component-security-title">Login (optional)</h2>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="data-display data-display-2">
                                    <div class="data-input">
                                        Create login for easy authentification futher
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>User name</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control form-control-lg" placeholder="User name"
                                        aria-label="" aria-describedby="basic-addon1">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-save btn-lg" type="button"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row component-security">
                    <div class="col-12 col-lg-6 mb-2">
                        <div class="row">
                            <div class="col">
                                <h2 class="component-security-title">E-mail</h2>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="data-display data-display-2">
                                    <div class="data-input">
                                        Fill in the e-mail address. We send you settlements and status reports about
                                        your
                                        remittances.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Email</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control custom-select-lg"
                                        placeholder="username@domain.com" aria-label="" aria-describedby="basic-addon1">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-save btn-lg" type="button"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row component-security">
                    <div class="col-12 col-lg-6 mb-2">
                        <div class="row">
                            <div class="col">
                                <h2 class="component-security-title">Password<span
                                        class="badge badge-success ml-2">Confirmed</span><button
                                        class="btn btn-link btn-lg  btn-edit"></button></h2>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="data-display data-display-2">
                                    <div class="data-input">
                                        Create a password to make your account more secured.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-12 form-group">
                                    <input type="text" readonly class="form-control-plaintext custom-user-input-readonly" id="staticEmail2" value="**************">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="myCheck" name="example1"
                                            onclick="myFunction()">
                                        <label class="custom-control-label" for="myCheck">Enable two-factor
                                            authentification...
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="visible" style="display:none">
                            <div class="col-12">
                                <div class="data-display data-display-2 mb-2">
                                    <div class="data-input">
                                        Set up two-factor authentication.
                                        For security purposes, please re-enter your password below.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label>Current password</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control custom-select-lg"
                                        placeholder="Current password" aria-label="" aria-describedby="basic-addon1">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-save btn-lg" type="button"></button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script>
    function myFunction() {
        var checkBox = document.getElementById("myCheck");
        var visible = document.getElementById("visible");
        if (checkBox.checked == true) {
            visible.style.display = "block";
        } else {
            visible.style.display = "none";
        }
    } 
</script>

</html>