<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Authorization verifying
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>
    <header class="header navbar">
        <div class="logo">
            <a href="/">
                <img class="logo-img" src="../../assets/img/logo.png">
            </a>
        </div>
        <div>
            <div class="input-group">
                <div class="input-group-prepend custom-dropdown custom-dropdown-point">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Points</button>
                    <div class="dropdown-menu animate slideIn">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
                <div class="input-group-prepend custom-dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">En</button>
                    <div class="dropdown-menu animate slideIn">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </div>
                <div>
                    <!-- component-custom-navigation begin -->
                    <nav class="navbar custom-navbar navbar-light bg-light">
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <div class="nav-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                  </div>
                        </button> 
                    
                        
                    </nav>
                    <div class="custom-navbar">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle h2" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            Remittance
                                        </a>
                                        <div class="dropdown-menu show" aria-labelledby="navbarDropdown1">
                                            <a class="dropdown-item" href="#">Send money</a>
                                            <a class="dropdown-item" href="#">History</a> 
                                            <a class="dropdown-item" href="#">Receivers</a>
                                            <a class="dropdown-item" href="#">Drafts</a> 
                                        </div>
                                    </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle h2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Profile
                                    </a>
                                    <div class="dropdown-menu show" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Personal data</a>
                                        <a class="dropdown-item" href="#">Account</a>
                                        <a class="dropdown-item" href="#">Security</a>  
                                        <a class="dropdown-item" href="#">Settings</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- component-custom-navigation end -->
                    <script>
                    $(document).ready(function(){
                    	$('.nav-icon').click(function(){
                    		$(this).toggleClass('open');
                    	});
                    });
                    </script>
                </div>
            </div>
        </div>
    </header>
    <div class="container start-page mb-5">
        <div class="row">
            <div class="col-12 start-page-wrapper">
                <div class="start-page-left">
                    <!-- component calculator-main begin -->
                    <div class="row calculator-main">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label>Destination country</label>
                                    <div class="input-group">
                                        <button class="btn btn-link dropdown-toggle custom-dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                            <span class="custom-flag flag-icon flag-icon-gb"></span> 
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">
                                                <span class="custom-flag flag-icon flag-icon-gb"></span> 
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <span class="custom-flag flag-icon flag-icon-gb"></span> 
                                            </a>
                                        </div>
                                        <div class="heading-display-3 heading-variation heading-normal inline-block">United Arabian Emirates
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label>You send</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-lg"
                                            aria-label="Text input with dropdown button">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">USD</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another
                                                    action</a>
                                                <a class="dropdown-item" href="#">Something
                                                    else
                                                    here</a>
                                                <div role="separator" class="dropdown-divider">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 form-group calculator-main-group">
                                    <div class="calculator-main-count">
                                        <div class="calculator-main-label">Comission</div>
                                        <div class="calculator-main-comission heading-display-2">11 EUR</div>
                                    </div>
                                    <div class="calculator-main-count">
                                        <div class="calculator-main-label">Exchange rate</div>
                                        <div class="calculator-main-rate heading-display-2">1.022 USD</div>
                                    </div>
                                </div>
                    
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 form-group">
                                    <label>Recepient gets</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control form-control-lg"
                                            aria-label="Text input with dropdown button">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">USD</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another
                                                    action</a>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button class="btn btn-primary btn-lg  btn-block">Get started</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- component calculator-main end -->
                </div>
                <div class="start-page-right">
                    <div class="start-page-title pb-2">
                        We transfer money instantly & securely
                        worldwide
                    </div>
                    <div class="start-page-info heading-display-2 heading-variation heading-normal pb-4">
                        BP Remit Online service offers you fast remittances for the lowest<br> fee. Check it right now!
                    </div>
                    <div class="start-page-button">
                        <button type="button" class="btn btn-lg btn-outline-secondary"><i class="fas fa-caret-right pr-2"></i>
                            Watch how we transfer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>