<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Label input
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Label input</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h4>sm:</h4>
                <!-- component-custom-input-label begin -->
                <div class="form__row js-form-group custom-input-label  custom-input-label-sm mb-2">
                    <label class="form-label">Sm</label>
                    <input class="form-control form-control-sm" type="text">
                </div>
                <!-- component-custom-input-label end -->
                <!-- component-custom-input-label begin -->
                <div class="form-group custom-input custom-input-label-sm">  
                    <input id="form_name1" class="form-control form-control-sm" type="text"  placeholder="" required>
                    <label for="form_name1" class="form-label">Label</label>
                </div>
                <!-- component-custom-input-label end -->
            </div>
            <div class="col-4">
                <h4>default:</h4>
                <!-- component-custom-input-hidden begin -->
                <div class="js-form-group custom-input-label mb-2">
                    <label class="form-label">Default</label>
                    <input class="form-control" type="text">
                </div>
                <!-- component-custom-input-hidden end -->
                
                <!-- component-custom-input-label begin -->
                <div class="form-group custom-input custom-input-label">  
                    <input id="form_name1" class="form-control" type="text"  placeholder="" required>
                    <label for="form_name1" class="form-label">Label</label>
                </div>
                <!-- component-custom-input-label end -->
            </div>
            <div class="col-4">
                <h4>lg:</h4>
                <!-- component-custom-input-label begin -->
                <div class="form__row js-form-group custom-input-label custom-input-label-lg mb-2">
                    <label class="form-label">Lg</label>
                    <input class="form-control form-control-lg" type="text">
                </div>
                <!-- component-custom-input-label end -->
                
                <!-- component-custom-input-label begin -->
                <div class="form-group custom-input custom-input-label-lg">  
                    <input id="form_name2" class="form-control form-control-lg" type="text"  placeholder="" required>
                    <label for="form_name2" class="form-label">Label</label>
                </div>
                <!-- component-custom-input-label end -->
            </div>
        </div>
    </div>


</body>

<script>
    
    var inputs = document.querySelectorAll('.js-form-group'),
        index, button;
    
    for (index = 0; index < inputs.length; index++) {
        button = inputs[index];
        button.addEventListener('focusin', clickHandler);
        button.addEventListener('focusout', blurHandler);
    }
    
    function clickHandler(event) {
        event.target.parentNode.classList.add('focused');
        event.preventDefault();
    }
    function blurHandler(event) {
        event.target.value.trim() ? '' : event.target.parentNode.classList.remove('focused');
        event.preventDefault();
    }
     
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>