<!-- component-custom-input-hidden begin -->
<div class="js-form-group custom-input-label mb-2">
    <label class="form-label">Default</label>
    <input class="form-control" type="text">
</div>
<!-- component-custom-input-hidden end -->

<!-- component-custom-input-label begin -->
<div class="form-group custom-input custom-input-label">  
    <input id="form_name1" class="form-control" type="text"  placeholder="" required>
    <label for="form_name1" class="form-label">Label</label>
</div>
<!-- component-custom-input-label end -->