<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Component List
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>
                    Component list
                </h2>
                
                <table class="table mt-5">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Title</th>
                            <td>
                                <a href="components/title/all.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Data display (Стили отображения текста)</th>
                            <td>
                                <a href="components/data-display/all.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Buttons (Кнопки с иконками)</th>
                            <td>
                                <a href="components/button/all.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Button show-hide</th>
                            <td>
                                <a href="components/component-btn-show-hide/all.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Buttons remittance actions</th>
                            <td>
                                <a href="components/component-remittance-actions/all.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Modal window</th>
                            <td><a href="components/custom-modal/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Mat-select</th>
                            <td><a href="components/mat-select/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th><img src="https://cdn3.iconfinder.com/data/icons/logos-3/250/angular-512.png" width="20" alt="angular">
                                NGX-Accordion</th>
                            <td> <a href="components/ngx-accordion/component-accordion.html">Go</a></td>
                        </tr>
                        <tr>
                            <th><img src="https://cdn3.iconfinder.com/data/icons/logos-3/250/angular-512.png" width="20" alt="angular">
                                NG-Select</th>
                            <td><a href="components/ng-select/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th><img src="https://cdn3.iconfinder.com/data/icons/logos-3/250/angular-512.png" width="20" alt="angular">
                                NG-Select-Flag</th>
                            <td><a href="components/ng-select-flag/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th><img src="https://cdn3.iconfinder.com/data/icons/logos-3/250/angular-512.png" width="20" alt="angular">
                                NGX-Datepicker</th>
                            <td><a href="components/ngx-datepicker/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th><img src="https://cdn3.iconfinder.com/data/icons/logos-3/250/angular-512.png" width="20" alt="angular">
                                NGX-Skeleton</th>
                            <td><a href="components/ngx-skeleton/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Jumbotron (все типы подложек, которые могут быть переиспользованы)</th>
                            <td>
                                <a href="components/jumbotron/all.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Pagination</th>
                            <td> <a href="components/pagination/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Alert</th>
                            <td> <a href="components/custom-alert/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Search Input (Поле поиска)</th>
                            <td>
                                <a href="components/search-input/all.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Collapse button</th>
                            <td>
                                <a href="components/collapse-button/all.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Navigation Tabs</th>
                            <td>
                                <a href="components/nav-tabs/all.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Checkbox, Checkbox Inline</th>
                            <td>
                                <a href="components/custom-checkbox/all.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Radio Button, Radio Button Inline</th>
                            <td>
                                <a href="components/custom-radio/all.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Switch</th>
                            <td>
                                <a href="components/custom-switch/all.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Pinned Helper (Receivers, Agent Summary Data)</th>
                            <td>
                                <a href="components/pinned-helper/all.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Hidden Input (for password)</th>
                            <td><a href="components/custom-input-hidden/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Label Input</th>
                            <td><a href="components/custom-input-label/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Header</th>
                            <td><a href="components/custom-header/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Login form</th>
                            <td><a href="components/login-form/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Navigation left</th>
                            <td><a href="components/custom-navigation-left/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Profile status</th>
                            <td><a href="components/profile-status/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Calculator Main</th>
                            <td><a href="components/calculator-main/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Component Step-1</th>
                            <td><a href="components/custom-component-step-1/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Component Step-2</th>
                            <td><a href="components/custom-component-step-2/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Component Step-3</th>
                            <td><a href="components/custom-component-step-3/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Component Step-4</th>
                            <td><a href="components/custom-component-step-4/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Dropdown Btn Add</th>
                            <td><a href="components/custom-dropdown-btn-add/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Component Add Document</th>
                            <td><a href="components/custom-component-add-document/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Component Scanner</th>
                            <td><a href="components/custom-component-scanner/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Document List</th>
                            <td><a href="components/custom-component-document-list/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Personal Data</th>
                            <td><a href="components/custom-component-personal-data/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Сustom Selfie</th>
                            <td><a href="components/custom-component-selfie/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Send Money Calculator</th>
                            <td><a href="components/component-send-money-calculator/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Send Money Step 1</th>
                            <td><a href="components/component-send-money-step-1/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Send Money Step 2</th>
                            <td><a href="components/component-send-money-step-2/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Send Money Step 3</th>
                            <td><a href="components/component-send-money-step-3/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Send Money Summary</th>
                            <td><a href="components/component-send-money-summary/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Draft Grid</th>
                            <td><a href="components/component-draft-grid/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>User Input</th>
                            <td><a href="components/component-custom-user-input/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Receivers Grid</th>
                            <td><a href="components/component-receiver-preview/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Receiver Add New</th>
                            <td><a href="components/component-receiver-add-new/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Popover Actions</th>
                            <td><a href="components/component-popover-actions/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Check Favorite</th>
                            <td><a href="components/component-check-favorite/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Receiver Preview Edit</th>
                            <td><a href="components/component-receiver-preview-edit/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Receiver Preview View</th>
                            <td><a href="components/component-receiver-preview-view/all.html">Go</a></td>
                        </tr> 
                        <tr>
                            <th>Receiver Preview History</th>
                            <td><a href="components/component-receiver-preview-history/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Show More</th>
                            <td><a href="components/component-show-more/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Notification blocks</th>
                            <td><a href="components/notification-blocks/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Send card group</th>
                            <td><a href="components/send-card-group/all.html">Go</a></td>
                        </tr>
                        <tr>
                            <th>Custom card</th>
                            <td><a href="components/custom-card/all.html">Go</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>
                    Pages
                </h2>
                
                <table class="table mt-5">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                Authorization login
                            </th>
                            <td>
                                <a href="pages/authorization-login.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Authorization verifying
                            </th>
                            <td>
                                <a href="pages/authorization-verifying.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Start page
                            </th>
                            <td>
                                <a href="pages/start-page.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Profile
                            </th>
                            <td>
                                <a href="pages/profile.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Profile read only
                            </th>
                            <td>
                                <a href="pages/profile-read-only.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Send money
                            </th>
                            <td>
                                <a href="pages/sent-money.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Drafts
                            </th>
                            <td>
                                <a href="pages/drafts.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Security
                            </th>
                            <td>
                                <a href="pages/security.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Receivers
                            </th>
                            <td>
                                <a href="pages/receivers.html">Go</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                History
                            </th>
                            <td>
                                <a href="pages/history.html">Go</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>