<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        //= chunks/theme-name.html
        - Custom Button
    </title>
    //= chunks/head.html
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Custom Button</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3 my-1">
                <h4>collapse:</h4>
                //= components/button/button-collapse.html
            </div>
            <div class="col-3 my-1">
                <h4>preview:</h4>
                //= components/button/button-preview.html
            </div>
            <div class="col-3 my-1">
                <h4>print:</h4>
                //= components/button/button-print.html
            </div>
            <div class="col-3 my-1">
                <h4>info:</h4>
                //= components/button/button-info.html
            </div>
            <div class="col-3 my-1">
                <h4>scanner:</h4>
                //= components/button/button-scanner.html
            </div>
            <div class="col-3 my-1">
                <h4>camera:</h4>
                //= components/button/button-camera.html
            </div>
            <div class="col-3 my-1">
                <h4>folder button:</h4>
                //= components/button/button-folder.html
            </div>
            <div class="col-3 my-1">
                <h4>parse:</h4>
                //= components/button/button-mrz.html
            </div>
            <div class="col-3 my-1">
                <h4>trash:</h4>
                //= components/button/button-trash.html
            </div>
            <div class="col-3 my-1">
                <h4>edit:</h4>
                //= components/button/button-edit.html
            </div>
            <div class="col-3 my-1">
                <h4>zoom-out:</h4>
                //= components/button/button-zoom-out.html
            </div>
            <div class="col-3 my-1">
                <h4>zoom-in:</h4>
                //= components/button/button-zoom-in.html
            </div>
            <div class="col-3 my-1">
                <h4>refresh:</h4>
                //= components/button/button-refresh.html
            </div>
            <div class="col-3 my-1">
                <h4>crop:</h4>
                //= components/button/button-crop.html
            </div>
            <div class="col-3 my-1">
                <h4>expand:</h4>
                //= components/button/button-expand.html
            </div>
            <div class="col-3 my-1">
                <h4>xls:</h4>
                //= components/button/button-xls.html
            </div>
            <div class="col-3 my-1">
                <h4>pdf:</h4>
                //= components/button/button-pdf.html
            </div>
            <div class="col-3 my-1">
                <h4>csv:</h4>
                //= components/button/button-csv.html
            </div>
            <div class="col-3 my-1">
                <h4>sign-out:</h4>
                //= components/button/button-sign-out.html
            </div>
            <div class="col-3 my-1">
                <h4>eye-slash:</h4>
                //= components/button/button-eye-slash.html
            </div>
        </div>
    </div>
</body>
//= script/scripts.html

</html>