<!-- component-document-scanner begin -->
<div id="myModal2" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content document-scanner">
                <div class="modal-header document-scanner-header pb-0">
                    <h3 class="heading-display-3 heading-variation">Selfie camera</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body pt-0">
                    <div class="document-scanner-info text-center mb-3">
                           
                        <div class="heading-display-5 heading-variation heading-normal mb-2">Take a photo of your face</div>
                        <div class="heading-display-6 heading-variation heading-normal">Please ensure that your face is in focus and positioned in a way that the head is placed within  frame face mask.</div>
                    </div> 
                    <div class="row">
                        <div class="col-12">
                            <!-- Delete class document-scanner-container-visible for default condition  -->
                            <div class="document-scanner-container document-scanner-container-visible">
                                <img class="document-scanner-container-img" src="../../../assets/img/mask_face.png">
                                <div class="document-scanner-container-block">
                                        <i class="far fa-exclamation-circle fa-3x mb-2"></i>
                                        <div class="heading-display-6 heading-variation heading-normal mb-2">Please ensure that your face is in focus and positioned in a way that the head is placed within  frame face mask.</div>
                                        <button type="button" class="btn btn-secondary">Confirm</button> 
                                </div>
                            </div>
                        </div> 
                    </div>
                  
                
    
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6 pr-3">
                                    <div class="row">
                                        <button type="button" class="document-scanner-button btn btn-secondary">Scan</button>
                                    </div>
    
                                </div>
                                <div class="col-6 pl-3">
                                    <div class="row">
                                        <button type="button" class="document-scanner-button btn btn-primary">Save</button>
    
                                    </div>
    
    
                                </div>
                            </div>
    
                        </div>
                      
                    </div>
    
    
                </div>
    
            </div>
        </div>
    </div>
    <!-- component-document-scanner end -->
    