<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Component Popover Actions
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Component Popover Actions</h2>
            </div>
            <div class="col-12 mb-5">
                <div class="row">
                    <div class="col-12">
                        <div class="popover-actions">
                            <div class="popover-actions-arrow" data-toggle="collapse">
                                <div class="popover-actions-angle-right"></div>
                            </div>
                            <div class="popover-actions-buttons-wrapper">
                                <div class="popover-actions-button-wrapper">
                                    <button type="button" class="btn btn-link btn-preview"></button>
                                    <div class="popover-actions-button-text">
                                        View
                                    </div>
                                </div>
                                <div class="popover-actions-button-wrapper">
                                    <button class="btn btn-link btn-edit"></button>
                                    <div class="popover-actions-button-text">
                                        Edit
                                    </div>
                                </div>
                                <div class="popover-actions-button-wrapper">
                                    <button class="btn btn-link btn-list"></button>
                                    <div class="popover-actions-button-text">
                                        History
                                    </div>
                                </div>
                                <div class="popover-actions-button-wrapper">
                                    <button class="btn btn-link btn-trash"></button>
                                    <div class="popover-actions-button-text">
                                        Delete
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <script>
                            $(document).ready(function () {
                                $('.component-step-collapse-button').click(function () {
                                    $('.popover-actions-button-text').toggleClass("active");
                                    $('.popover-actions-angle-right').toggleClass("active");
                                });
                            });
                        </script>
                    </div>
                </div>
            </div> 
        </div>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>