<!-- component-profile-status begin -->
<div class="toast profile-status show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body"> 
                <div class="profile-status-title h3 mb-3">Money remittance progress</div>
                <div class="profile-status-progress-line mb-3">
                    <div class="profile-status-chart">
                            <div class="profile-status-bar" style="width: 50%;"></div>
                            <!-- Add class profile-status-text-all when width: >63% -->
                            <div class="profile-status-text">50%</div>
                    </div>
                </div>
                <div class="profile-status-info mb-3">
                    <div class="data-display data-display-3">
                        <div class="data-input">When progress pill level will reach 100% your remittance will be send successfully! </div>
                    </div>
                </div> 
        </div>
    </div>
<!-- component-profile-status end -->