<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Switch
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Switch</h2>
            </div>
            <div class="col-12 mb-5">
                <div class="row">
                    <div class="col-4">
                        <label>custom-switch-lg</label>
                        <!-- component-custom-switch-lg begin -->
                        <div class="custom-switch">
                            <div class="custom-control custom-control-lg">
                                <input type="checkbox" value="None" id="checkbox-toggle-lg" class="checkbox-toggle" name="checkbox-toggle" />
                                <label class="checkbox-toggle-label" for="checkbox-toggle-lg"></label>
                            </div>
                        </div>
                        <!-- component-custom-switch-lg end -->
                    </div>
                    <div class="col-4">
                        <label>custom-switch-default</label>
                        <!-- component-custom-switch begin -->
                        <div class="custom-switch">
                            <div class="custom-control">
                                <input type="checkbox" value="None" id="checkbox-toggle2" class="checkbox-toggle" name="checkbox-toggle" />
                                <label class="checkbox-toggle-label" for="checkbox-toggle2"></label>
                            </div>
                        </div>
                        <!-- component-custom-switch end -->
                    </div>
                    <div class="col-4">
                        <label>custom-switch-sm</label>
                        <!-- component-custom-switch-sm begin -->
                        <div class="custom-switch">
                            <div class="custom-control custom-control-sm">
                                <input type="checkbox" value="None" id="checkbox-toggle-sm" class="checkbox-toggle" name="checkbox-toggle" />
                                <label class="checkbox-toggle-label" for="checkbox-toggle-sm"></label>
                            </div>
                        </div>
                        <!-- component-custom-switch-sm end -->
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>