<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        //= chunks/theme-name.html
        - Hidden input
    </title>
    //= chunks/head.html
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Hidden input</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h4>sm:</h4>
                //= components/custom-input-hidden/component-custom-input-hidden-sm.html
            </div>
            <div class="col-4">
                <h4>default:</h4>
                //= components/custom-input-hidden/component-custom-input-hidden.html
            </div>
            <div class="col-4">
                <h4>lg:</h4>
                //= components/custom-input-hidden/component-custom-input-hidden-lg.html
            </div>
        </div>
    </div>


</body>
//= script/scripts.html

</html>