<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Component Receiver Preview
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Component Receiver Preview</h2>
            </div>
            <div class="col-12 mb-5">
                <div class="row">
                    <div class="col-12">
                        <div class="receivers-grid">
                            <div class="row receiver-preview">
                                <div class="col-12 receiver-preview-wrapper">
                                    <div class="receiver-preview-start check-favorite js-star">
                                        <div class="check-favorite-icon"></div>
                                    </div>
                                    <div class="receiver-preview-avatar-wrapper">
                                        <div class="receiver-preview-avatar">
                                            <!-- <img src="../../../assets/img/face-big.png" class="receiver-preview-img"> -->
                                            <div class="receiver-preview-name heading-display-1">
                                                AW
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="receiver-preview-send">
                                        <div class="receiver-preview-send-id">ID 897461125</div>
                                        <div class="receiver-preview-login">
                                            Ann Wachowski
                                        </div>
                                        <button type="button" class="btn btn-secondary btn-sm">Send</button>
                                    </div>
                                    <div class="receiver-preview-content">
                                        <div class="receiver-preview-content-title mb-1">Last remittance</div>
                                        <div class="receiver-preview-info">
                                            <div class="receiver-preview-flag">
                                                <span class="receiver-preview-flag-img custom-flag flag-icon flag-icon-de"></span>
                                            </div>
                                            <div class="receiver-preview-date">
                                                <div class=" data-display data-display-3">
                                                    <div class="data-input">Date</div>
                                                </div>
                                                <div class="heading-display-5">23.11.19</div>
                                            </div>
                                            <div class="receiver-preview-amount">
                                                <div class="data-display data-display-3">
                                                    <div class="data-input">Amount</div>
                                                </div>
                                                <div class="receiver-preview-money heading-display-5 heading-bold">1000 CZK</div>
                                            </div>
                                            <div class="receiver-preview-direction">
                                                <div class="data-display data-display-3">
                                                    <div class="data-input">Direction</div>
                                                </div>
                                                <div class="heading-display-5">Czech Republic (Kaymaks)</div>
                                            </div>
                                        </div>
                                        <div class="receiver-preview-content-button"><button type="button"
                                                class="btn btn-outline-secondary btn-sm">Repeat</button></div>
                                    </div>
                                    <div class="receiver-preview-navigation popover-actions">
                                        <div class="popover-actions-arrow" data-toggle="collapse1">
                                            <div class="popover-actions-angle-right"></div>
                                        </div>
                                        <div class="popover-actions-buttons-wrapper">
                                            <div class="popover-actions-button-wrapper">
                                                <button type="button" class="btn btn-link btn-preview"></button>
                                                <div class="popover-actions-button-text">
                                                    View
                                                </div>
                                            </div>
                                            <div class="popover-actions-button-wrapper">
                                                <button class="btn btn-link btn-edit"></button>
                                                <div class="popover-actions-button-text">
                                                    Edit
                                                </div>
                                            </div>
                                            <div class="popover-actions-button-wrapper">
                                                <button class="btn btn-link btn-list"></button>
                                                <div class="popover-actions-button-text">
                                                    History
                                                </div>
                                            </div>
                                            <div class="popover-actions-button-wrapper">
                                                <button class="btn btn-link btn-trash"></button>
                                                <div class="popover-actions-button-text">
                                                    Delete
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row receiver-preview mb-2">
                                <div class="col-12 receiver-preview-wrapper">
                                    <div class="receiver-preview-start check-favorite js-star">
                                        <div class="check-favorite-icon"></div>
                                    </div>
                                    <div class="receiver-preview-avatar-wrapper">
                                        <div class="receiver-preview-avatar">
                                            <!-- <img src="../../../assets/img/face-big.png" class="receiver-preview-img"> -->
                                            <div class="receiver-preview-name heading-display-1">
                                                AW
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="receiver-preview-send">
                                        <div class="receiver-preview-send-id">ID 897461125</div>
                                        <div class="receiver-preview-login">
                                            Ann Wachowski
                                        </div>
                                        <button type="button" class="btn btn-secondary btn-sm">Send</button>
                                    </div>
                                    <div class="receiver-preview-content">
                                        <div class="receiver-preview-content-title mb-1">Last remittance</div>
                                        <div class="receiver-preview-info">
                                            <div class="receiver-preview-flag">
                                                <span class="receiver-preview-flag-img custom-flag flag-icon flag-icon-cz"></span>
                                            </div>
                                            <div class="receiver-preview-date">
                                                <div class="data-display data-display-3">
                                                    <div class="data-input">Date</div>
                                                </div>
                                                <div class="heading-display-5">23.11.19</div>
                                            </div>
                                            <div class="receiver-preview-amount">
                                                <div class="data-display data-display-3">
                                                    <div class="data-input">Amount</div>
                                                </div>
                                                <div class="receiver-preview-money heading-display-5 heading-bold">1000 CZK</div>
                                            </div>
                                            <div class="receiver-preview-direction">
                                                <div class="data-display data-display-3">
                                                    <div class="data-input">Direction</div>
                                                </div>
                                                <div class="heading-display-5">Czech Republic (Kaymaks)</div>
                                            </div>
                                        </div>
                                        <div class="receiver-preview-content-button"><button type="button"
                                                class="btn btn-outline-secondary btn-sm">Repeat</button></div>
                                    </div>
                        
                                    <div class="receiver-preview-navigation popover-actions">
                                        <div class="popover-actions-arrow" data-toggle="collapse1">
                                            <div class="popover-actions-angle-right"></div>
                                        </div>
                                        <div class="popover-actions-buttons-wrapper">
                                            <div class="popover-actions-button-wrapper">
                                                <button type="button" class="btn btn-link btn-preview"></button>
                                                <div class="popover-actions-button-text">
                                                    View
                                                </div>
                                            </div>
                                            <div class="popover-actions-button-wrapper">
                                                <button class="btn btn-link btn-edit"></button>
                                                <div class="popover-actions-button-text">
                                                    Edit
                                                </div>
                                            </div>
                                            <div class="popover-actions-button-wrapper">
                                                <button class="btn btn-link btn-list"></button>
                                                <div class="popover-actions-button-text">
                                                    History
                                                </div>
                                            </div>
                                            <div class="popover-actions-button-wrapper">
                                                <button class="btn btn-link btn-trash"></button>
                                                <div class="popover-actions-button-text">
                                                    Delete
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12">
                                    <button class="btn btn-link receiver-preview-btn-collapse" type="button" data-toggle="collapse"
                                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        View all
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 collapse" id="collapseExample">
                                    <div class="row receiver-preview">
                                        <div class="col-12 receiver-preview-wrapper">
                                            <div class="receiver-preview-start check-favorite js-star">
                                                <div class="check-favorite-icon"></div>
                                            </div>
                                            <div class="receiver-preview-avatar-wrapper">
                                                <div class="receiver-preview-avatar">
                                                    <!-- <img src="../../../assets/img/face-big.png" class="receiver-preview-img"> -->
                                                    <div class="receiver-preview-name heading-display-1">
                                                        AW
                                                    </div>
                                                </div>
                                            </div>
                        
                                            <div class="receiver-preview-send">
                                                <div class="receiver-preview-send-id">ID 897461125</div>
                                                <div class="receiver-preview-login">
                                                    Ann Wachowski
                                                </div>
                                                <button type="button" class="btn btn-secondary btn-sm">Send</button>
                                            </div>
                                            <div class="receiver-preview-content">
                                                <div class="receiver-preview-content-title mb-1">Last remittance</div>
                                                <div class="receiver-preview-info">
                                                    <div class="receiver-preview-flag">
                                                        <span class="receiver-preview-flag-img custom-flag flag-icon flag-icon-cz"></span>
                                                    </div>
                                                    <div class="receiver-preview-date">
                                                        <div class="data-display data-display-3">
                                                            <div class="data-input">Date</div>
                                                        </div>
                                                        <div class="heading-display-5">23.11.19</div>
                                                    </div>
                                                    <div class="receiver-preview-amount">
                                                        <div class="data-display data-display-3">
                                                            <div class="data-input">Amount</div>
                                                        </div>
                                                        <div class="receiver-preview-money heading-display-5 heading-bold">1000 CZK</div>
                                                    </div>
                                                    <div class="receiver-preview-direction">
                                                        <div class="data-display data-display-3">
                                                            <div class="data-input">Direction</div>
                                                        </div>
                                                        <div class="heading-display-5">Czech Republic (Kaymaks)</div>
                                                    </div>
                                                </div>
                                                <div class="receiver-preview-content-button"><button type="button"
                                                        class="btn btn-outline-secondary btn-sm">Repeat</button></div>
                                            </div>
                        
                                            <div class="receiver-preview-navigation popover-actions">
                                                <div class="popover-actions-arrow" data-toggle="collapse1">
                                                    <div class="popover-actions-angle-right"></div>
                                                </div>
                                                <div class="popover-actions-buttons-wrapper">
                                                    <div class="popover-actions-button-wrapper">
                                                        <button type="button" class="btn btn-link btn-preview"></button>
                                                        <div class="popover-actions-button-text">
                                                            View
                                                        </div>
                                                    </div>
                                                    <div class="popover-actions-button-wrapper">
                                                        <button class="btn btn-link btn-edit"></button>
                                                        <div class="popover-actions-button-text">
                                                            Edit
                                                        </div>
                                                    </div>
                                                    <div class="popover-actions-button-wrapper">
                                                        <button class="btn btn-link btn-list"></button>
                                                        <div class="popover-actions-button-text">
                                                            History
                                                        </div>
                                                    </div>
                                                    <div class="popover-actions-button-wrapper">
                                                        <button class="btn btn-link btn-trash"></button>
                                                        <div class="popover-actions-button-text">
                                                            Delete
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row receiver-preview receiver-preview-add">
                                <div class="col-12 receiver-preview-wrapper">
                                    <div class="receiver-preview-avatar-wrapper">
                                        <div class="receiver-preview-avatar">
                                            <div class="receiver-preview-name heading-display-1">
                                                <i class="far fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="receiver-preview-send">
                                        <div class="receiver-preview-login">
                                            Add new
                                        </div>
                                        <div class="receiver-preview-add-text">Please ensure the beneficiary is a know person to you. BP Remit
                                            will
                                            not be liable for sending funds to unknown persons.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <script>
                            $(document).ready(function () {
                                $('.js-star').click(function () {
                                    $('.check-favorite-icon').toggleClass("active");
                                });
                                $('[data-toggle="collapse1"]').click(function () {
                                    $('.receiver-preview').toggleClass("show");
                                    $('.popover-actions-button-text').toggleClass("active");
                                    $('.popover-actions-angle-right').toggleClass("active");
                                });
                            });
                        </script>
                    </div>
                </div>
            </div> 
        </div>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>