<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Component Receiver Preview History
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Component Receiver Preview History</h2>
            </div>
            <div class="col-12 mb-5">
                <div class="row">
                    <div class="col-12">
                        <div class="row receiver-preview-history receiver-preview-history-component">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 receiver-preview-history-buttons-wrapper">
                                        <div class="receiver-preview-history-buttons">
                                            <button type="button" class="receiver-preview-history-button btn btn-link btn-list">History </button>
                                             
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="receiver-preview-history-wrapper jumbotron jumbotron-light">
                                            <div class="receiver-preview-history-close">
                                                <i class="receiver-preview-history-close-icon"></i>
                                            </div>
                                            <!-- component receiver-preview-history begin -->
                                            <div class="receiver-preview-history-item">
                                                <div class="receiver-preview-history-filter">
                                                    <button class="btn btn-link btn-sliders" type="button" data-toggle="collapse"
                                                        data-target="#collapseExample" aria-expanded="false"
                                                        aria-controls="collapseExample"></button>
                                                    <div class="collapse" id="collapseExample">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="row">
                                                                    <div class="col-12 col-lg-12 col-xl-4">
                                                                        <div class="row">
                                                                            <div class="col-12 col-lg-6 form-group">
                                                                                <label>From</label>
                                                                                <div class="form-control-date">
                                                                                    <div class="form-control-date-wrapper">
                                                                                        <input type="text"
                                                                                            class="form-control form-control-date"
                                                                                            id="exampleInput" placeholder="11.12.2019">
                                                                                        <i class="form-control-date-icon"
                                                                                            aria-hidden="true"></i>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12 col-lg-6 form-group">
                                                                                <label>To</label>
                                                                                <div class="form-control-date">
                                                                                    <div class="form-control-date-wrapper">
                                                                                        <input type="text"
                                                                                            class="form-control form-control-date"
                                                                                            id="exampleInput2" placeholder="11.12.2019">
                                                                                        <i class="form-control-date-icon"
                                                                                            aria-hidden="true"></i>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12 col-lg-6 form-group">
                                                                                <input class="form-control " type="text"
                                                                                    placeholder="Amount from">
                                                                            </div>
                                                                            <div class="col-12 col-lg-6 form-group">
                                                                                <input class="form-control " type="text"
                                                                                    placeholder="Amount to">
                                                                            </div>
                        
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-lg-12 col-xl-8">
                                                                        <div class="row">
                                                                            <div class="col-12 col-lg-6 form-group">
                        
                                                                                <label class="d-none d-lg-inline-block"></label>
                                                                                <div class="custom-select-arrow">
                                                                                    <select placeholder="Receiver" class="custom-select">
                                                                                        <option selected="">Receiver</option>
                                                                                        <option value="1">One</option>
                                                                                        <option value="2">Two</option>
                                                                                        <option value="3">Three</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12 col-lg-6 form-group">
                                                                                <label class="d-none d-lg-inline-block"></label>
                                                                                <div class="custom-select-arrow">
                                                                                    <select placeholder="Direction" class="custom-select">
                                                                                        <option selected="">Direction</option>
                                                                                        <option value="1">One</option>
                                                                                        <option value="2">Two</option>
                                                                                        <option value="3">Three</option>
                                                                                    </select>
                                                                                </div>
                        
                                                                            </div>
                                                                            <div class="col-12 col-lg-2 form-group">
                                                                                <div class="custom-select-arrow">
                                                                                    <select placeholder="EUR" class="custom-select">
                                                                                        <option selected="">EUR</option>
                                                                                        <option value="1">One</option>
                                                                                        <option value="2">Two</option>
                                                                                        <option value="3">Three</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12 col-lg-4 form-group">
                                                                                <div class="custom-select-arrow">
                                                                                    <select placeholder="Status" class="custom-select">
                                                                                        <option selected="">Status</option>
                                                                                        <option value="1">One</option>
                                                                                        <option value="2">Two</option>
                                                                                        <option value="3">Three</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12 col-lg-6 form-group">
                                                                                <input class="form-control" type="text" placeholder="Ref. #">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 mb-2">
                                                                        <div class="row">
                                                                            <div class="col-12 col-lg-8"></div>
                                                                            <div class="col-12 col-lg-4">
                                                                                <div class="row">
                                                                                    <div class="col-6 col-lg-6 mb-2"><button
                                                                                            class="btn btn-link btn-block">Clear</button></div>
                                                                                    <div class="col-6 col-lg-6 mb-2"><button
                                                                                            class="btn btn-secondary btn-block">Apply</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                        
                                                <div class="receiver-preview-history-table-wrapper mb-2">
                                                    <table class="receiver-preview-history-table">
                                                        <tbody>
                                                            <tr class="receiver-preview-history-row">
                                                                <td class="receiver-preview-history-col receiver-preview-history-receiver">
                                                                    <label>Receiver</label>
                                                                    <div class="heading-display-4 heading-bold heading-muted-color">Ann
                                                                        Wachowski</div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-flag">
                                                                    <span
                                                                        class="receiver-preview-history-flag-img custom-flag flag-icon flag-icon-gb"></span>
                                                                </td>
                                                                <td class="receiver-preview-history-col">
                                                                    <div class="receiver-preview-history-direction">
                                                                        <label>Direction</label>
                                                                        <div class="heading-display-5">Czech Republic (Kaymaks)</div>
                                                                    </div>
                                                                    <div class="receiver-preview-history-date">
                                                                        <label>Date</label>
                                                                        <div class="heading-display-5 heading-bold">23.11.19</div>
                                                                    </div>
                                                                </td>
                                                                <td class="receiver-preview-history-col">
                                                                    <div class="receiver-preview-history-outer-ref">
                                                                        <label>Outer Ref. #</label>
                                                                        <div class="heading-display-5 heading-bold heading-muted-color">
                                                                            KRN222545555CZ</div>
                                                                    </div>
                                                                    <div class="receiver-preview-history-ref">
                                                                        <label>Ref. #</label>
                                                                        <div class="heading-display-5">11125555555688</div>
                                                                    </div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-amount">
                                                                    <label>Amount</label>
                                                                    <div class="heading-display-4 receiver-preview-history-amount-text">1000 CZK
                                                                    </div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-status">
                                                                    <label>Status</label>
                                                                    <div>
                                                                        <span class="heading-display-5 badge badge-success">Paid off</span>
                                                                    </div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-check">
                                                                    <button type="button"
                                                                        class="receiver-preview-history-button-preview btn btn-link btn-eye-slash p-0"></button>
                                                                    <button type="button" class="btn btn-link btn-refresh p-0"></button>
                                                                </td>
                                                            </tr>
                                                            <tr class="receiver-preview-history-row receiver-preview-history-block">
                                                                <td colspan="3" class="d-none d-lg-table-cell"> </td>
                                                                <td class="receiver-preview-history-col">
                                                                    <div class="receiver-preview-history-ref">
                                                                        <label>Exchange rate</label>
                                                                        <div class="heading-display-5">1EUR =25.5326 CZK</div>
                                                                    </div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-amount">
                                                                    <label>Comission</label>
                                                                    <div class="heading-display-5">10 EUR</div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-status">
                                                                    <label>Source amount</label>
                                                                    <div class="heading-display-5">39 EUR</div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-check"></td>
                                                            </tr>
                                                            <tr class="receiver-preview-history-row">
                                                                <td class="receiver-preview-history-col receiver-preview-history-receiver">
                                                                    <label>Receiver</label>
                                                                    <div class="heading-display-4 heading-bold heading-muted-color">Ann
                                                                        Wachowski</div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-flag">
                                                                    <span
                                                                        class="receiver-preview-history-flag-img custom-flag flag-icon flag-icon-ru"></span>
                                                                </td>
                                                                <td class="receiver-preview-history-col">
                                                                    <div class="receiver-preview-history-direction">
                                                                        <label>Direction</label>
                                                                        <div class="heading-display-5">Czech Republic (Kaymaks)</div>
                                                                    </div>
                                                                    <div class="receiver-preview-history-date">
                                                                        <label>Date</label>
                                                                        <div class="heading-display-5 heading-bold">23.11.19</div>
                                                                    </div>
                                                                </td>
                                                                <td class="receiver-preview-history-col">
                                                                    <div class="receiver-preview-history-outer-ref">
                                                                        <label>Outer Ref. #</label>
                                                                        <div class="heading-display-5 heading-bold heading-muted-color">
                                                                            KRN222545555CZ</div>
                                                                    </div>
                                                                    <div class="receiver-preview-history-ref">
                                                                        <label>Ref. #</label>
                                                                        <div class="heading-display-5">11125555555688</div>
                                                                    </div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-amount">
                                                                    <label>Amount</label>
                                                                    <div class="heading-display-4 receiver-preview-history-amount-text">1000 CZK
                                                                    </div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-status">
                                                                    <label>Status</label>
                                                                    <div>
                                                                        <span class="heading-display-5 badge badge-warning">Approved</span>
                                                                    </div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-check">
                                                                    <button type="button"
                                                                        class="receiver-preview-history-button-preview btn btn-link btn-eye-slash p-0"></button>
                                                                    <button type="button" class="btn btn-link btn-refresh p-0"></button>
                                                                </td>
                                                            </tr>
                                                            <tr class="receiver-preview-history-row receiver-preview-history-block">
                                                                <td colspan="3" class="d-none d-lg-table-cell"> </td>
                                                                <td class="receiver-preview-history-col">
                        
                                                                    <div class="receiver-preview-history-ref">
                                                                        <label>Exchange rate</label>
                                                                        <div class="heading-display-5">1EUR =25.5326 CZK</div>
                                                                    </div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-amount">
                                                                    <label>Comission</label>
                                                                    <div class="heading-display-5">10 EUR</div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-status">
                                                                    <label>Source amount</label>
                                                                    <div class="heading-display-5">39 EUR</div>
                                                                </td>
                                                                <td class="receiver-preview-history-col receiver-preview-history-check"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                        
                                            </div>
                        
                                            <!-- component receiver-preview-history end -->
                                            <nav aria-label="Page navigation example" class=" custom-pagination">
                                                    <ul class="pagination custom-pagination-list">
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                                                <i class="custom-pagination-list-arraw-left"></i></a> </li>
                                                        <li class="page-item"><a class="page-link" href="#">1</a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#"><i class="custom-pagination-list-arraw-right"></i></a>
                                                        </li>
                                                    </ul> 
                                                    <div class="navigation-all pl-3">
                                                            <span>View</span>
                                                            <span>
                                                                <div class="btn-group custom-dropdown">
                                                                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        30
                                                                    </button>
                                                                    <div class="dropdown-menu">
                                                                        <a class="dropdown-item" href="#">10</a>
                                                                        <a class="dropdown-item" href="#">20</a>
                                                                    </div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        <script>
                            $(document).ready(function () {
                                $('.receiver-preview-history-button-preview').click(function () {
                                    $('.receiver-preview-history-button-preview').toggleClass("active");
                                    $('.receiver-preview-history-block').toggleClass("active");
                                });
                                $('.receiver-preview-history-close').click(function () {
                                    $('.receiver-preview-history').toggleClass("active"); 
                                });
                            });
                        </script>
                    </div>
                </div>
            </div> 
        </div>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>