<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col">
                <div class="h4 heading-display-4 heading-variation heading-normal">Passport 01 <button type="button"
                        class="btn btn-link btn-preview btn-lg"></button><button type="button"
                        class="btn btn-link btn-edit btn-lg py-0"></button><button type="button"
                        class="btn btn-link btn-trash btn-lg py-0"></button></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="h4 heading-display-4 heading-variation heading-normal">Passport 02 <button type="button"
                        class="btn btn-link btn-preview btn-lg"></button></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="heading-display-5 heading-variation heading-normal">Passport 01 <button type="button"
                        class="btn btn-link btn-preview "></button><button type="button"
                        class="btn btn-link btn-edit py-0 pr-0"></button><button type="button"
                        class="btn btn-link btn-trash py-0 pr-0"></button></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="heading-display-5 heading-variation heading-normal">Passport 02 <button type="button"
                        class="btn btn-link btn-preview"></button></div>
            </div>
        </div>
    </div>
</div>