<!-- component-document-scanner begin -->
<div id="myModal2" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content document-scanner">
                <div class="modal-header document-scanner-header pb-0">
                    <h3 class="heading-display-3 heading-variation">Scanner</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body pt-0">
                    <div class="document-scanner-info text-center mb-3">
                        <div class="heading-display-5 heading-variation heading-normal">Take photo of ID or choose existing one</div>
                    </div>
                    <div class="document-scanner-button-up mb-2"> 
                        <div class="mx-2">
                            <button class="btn btn-link btn-camera btn-lg"> 
                            </button></div>
                        <div class="mx-2">
                            <button class="btn btn-link btn-folder btn-lg"> 
                            </button></div> 
                    </div>
                    <div class="row mb-2">
                            <div class="col">
                                <div class="document-scanner-content data-display data-display-2">
                                    <div class="data-input">
                                        <div class="mb-2">Please upload your relevant ID document. Please&nbsp;ensure&nbsp;that:</div>
                                        <ul class="document-scanner-content-list">
                                            <li>the photo is well lit without hotspots</li>
                                            <li>your ID is completely in focus</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- Delete class document-scanner-container-visible for default condition  -->
                            <div class="document-scanner-container document-scanner-photo document-scanner-container-visible">
                                    <div class="document-scanner-container-block">
                                            <i class="fal fa-exclamation-circle fa-3x mb-2"></i>
                                            <div class="heading-display-6 heading-variation heading-normal mb-3">Scanner ID reguests access to computer Camera !</div>
                                            <button type="button" class="btn btn-secondary">Confirm</button> 
                                    </div>
                            </div>
                        </div> 
                    </div>
                  
                    <div class="text-center container mb-2">
                        <div class="row mb-1">
                            <div class="col-12">
                                <div class="carousel-main row">
                                    <div class="col-1 carousel-arrow">
                                        <a href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <div class="carousel-nav-icon carousel-prev">
    
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-10 carousel-document-center">
                                        <!--Start carousel-->
                                        <div id="carouselExampleIndicators" data-interval="false" class="carousel slide"
                                            data-ride="carousel">
    
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="carousel-wrapper">
                                                        <div style="background-image:url('http://uksestroreck.ru/upload/medialibrary/8dd/content-img.png');"
                                                            class="carousel-item-col document-scanner-empty">
                                                            <div class="document-scanner-slide">Front slide</div>
                                                        </div>
                                                        <div style="background-image:url('https://www.veridocglobal.com/Themes/Veridoc/Content/img/solution-img/fake.jpg');"
                                                            class="carousel-item-col">
                                                            <div class="document-scanner-slide">Back slide</div>
                                                        </div> 
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                        <!--End carousel-->
                                    </div>
                                    <div class="col-1 carousel-arrow">
                                        <a href="#carouselExampleIndicators" data-slide="next">
                                            <div class="carousel-nav-icon carousel-next">
    
                                            </div>
                                        </a>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
    
    
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6 pr-3">
                                    <div class="row">
                                        <button type="button" class="document-scanner-button btn btn-secondary">Scan</button>
                                    </div>
    
                                </div>
                                <div class="col-6 pl-3">
                                    <div class="row">
                                        <button type="button" class="document-scanner-button btn btn-primary">Save</button>
    
                                    </div>
    
    
                                </div>
                            </div>
    
                        </div>
                      
                    </div>
    
    
                </div>
    
            </div>
        </div>
    </div>
    <!-- component-document-scanner end -->