<!-- component receiver-preview-view begin -->
<div class="row receiver-preview-view">
    <div class="col-12">
        <div class="row">
            <div class="col-12 receiver-preview-view-buttons-wrapper"> 
                <div class="receiver-preview-view-buttons">
                    <button type="button" class="receiver-preview-view-button btn btn-link btn-preview">View </button>
                    <button class="receiver-preview-view-button btn btn-link btn-edit">Edit </button>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="receiver-preview-view-wrapper jumbotron jumbotron-light">
                    <div class="receiver-preview-view-close">
                        <i class="receiver-preview-view-close-icon"></i>
                    </div>
                    <div class="receiver-preview-view-item">
                        <div class="receiver-preview-view-foto">
                            <div class="receiver-preview-view-avatar-wrapper">
                                <div class="receiver-preview-view-avatar">
                                    <div class="receiver-preview-view-name heading-display-1">
                                        <i class="far fa-camera"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="receiver-preview-view-form component-step">
                            <div class="row">
                                <div class="col-6 col-lg-4">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 form-group">
                                            <label>Surname</label>
                                            <div class="receiver-preview-view-text ">Ann</div>
                                        </div>
                                        <div class="col-12 col-lg-12 form-group">
                                            <label>Name</label>
                                            <div class="receiver-preview-view-text ">Wachowski</div>
                                        </div>
                                        <div class="col-12 col-lg-12 form-group">
                                            <label>Middle name (optional)</label>
                                            <div class="receiver-preview-view-text ">n/a</div>
                                        </div>
                                        <div class="col-12 col-lg-12 form-group">
                                            <label>Date of Birth</label>
                                            <div class="receiver-preview-view-text ">18.12.1974</div>
                                        </div>
                                        <div class="col-12 col-lg-12 form-group">
                                            <label>Nationality</label>
                                            <div class="receiver-preview-view-text ">Czech Rebuplic</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 form-group">
                                            <label>Country</label>
                                            <div class="receiver-preview-view-text ">Czech Rebuplic</div>
                                        </div>
                                        <div class="col-12 col-lg-12 form-group">
                                            <label>City</label>
                                            <div class="receiver-preview-view-text ">Prague</div>
                                        </div>
                                        <div class="col-12 col-lg-12 form-group">
                                            <label>Street</label>
                                            <div class="receiver-preview-view-text ">Trafalgar square</div>
                                        </div>
                                        <div class="col-12 col-lg-12 form-group">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Bld.</label>
                                                    <div class="receiver-preview-view-text">12</div>
                                                </div>
                                                <div class="col-6">
                                                    <label>Apart</label>
                                                    <div class="receiver-preview-view-text">051</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-12 form-group">
                                            <label>Postcode</label>
                                            <div class="receiver-preview-view-text ">WC2N 5BW</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 form-group">
                                            <label>Phone number</label>
                                            <div class="receiver-preview-view-text ">+44025687482</div>
                                        </div>
                                        <div class="col-12 col-lg-12 form-group">
                                            <label>E-mail</label>
                                            <div class="receiver-preview-view-text ">a.wachowski@gamail.com</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- component receiver-preview-view end -->

<script>
    $(document).ready(function () {
        $('.component-step-collapse-button').click(function () {
            $('.component-step-collapse-button').toggleClass("active");
            if ($('.component-step-collapse-button').hasClass("active")) {
                $('.component-step-collapse-button').text("Hide more");
            } else {
                $('.component-step-collapse-button').text("Show less");
            }
        });
    });
</script>