<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        //= chunks/theme-name.html
        - Send card
    </title>
    //= chunks/head.html
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Send card</h2>
            </div>
            <div class="col-12 mb-5">
                //= components/send-card-group/component-send-card-group.html
            </div>
        </div>

    </div>

</body>
//= script/scripts.html
</html>
