<div class="login-form">
    <div class="login-form-title">
        <div>Login</div>
    </div>
    <div class="login-form-info mb-4">
        <div>Enter your mobile phone number to get access to full service. We will send a text message with a 6-digit
            verification code. Standard rates apply.</div>
    </div>
    <div class="login-form-block">
        <div class="login-form-country">
                <button class="btn btn-link dropdown-toggle custom-dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="custom-flag flag-icon flag-icon-gb"></span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">
                        <span class="custom-flag flag-icon flag-icon-cz"></span>

                </a>
                <a class="dropdown-item" href="#">
                        <span class="custom-flag flag-icon flag-icon-cz"></span>

                </a>
            </div> 
        </div>
        <div class="login-form-input">
            <input class="form-control form-control-lg" type="text" placeholder="Phone number">
        </div> 
        <div class="login-form-button">
            <a href="authorization-verifying.html" class="btn btn-primary btn-block btn-lg">Send</a>
        </div>
        <div class="login-form-agree">
                <div class="custom-control custom-checkbox custom-muted-checkbox custom-control-lg">
                        <input type="checkbox" class="custom-control-input" id="customChecksecondary" name="example1">
                        <label class="custom-control-label login-form-label" for="customChecksecondary">I agree with the terms of the <a href="#" class="custom-checkbox-link">Agreement on comprehensive customer service using your personal profile</a> and the terms of the <a href="#" class="custom-checkbox-link">Transfer Agreement of BP Remit.</a></label>
                </div>
            </div>
    </div>
   
</div>