<!-- component receiver-add-new begin -->
<div class="row">
    <div class="col-12">
        <div class="receiver-preview receiver-preview-add">
            <div class="receiver-preview-wrapper">
                <div class="receiver-preview-avatar-wrapper">
                    <div class="receiver-preview-avatar">
                        <div class="receiver-preview-name heading-display-1">
                            <i class="far fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="receiver-preview-send">
                    <div class="receiver-preview-login">
                        Add new
                    </div>
                    <div class="receiver-preview-add-text">Please ensure the beneficiary is a
                        know
                        person to you. BP Remit will
                        not be liable for sending funds to unknown persons.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- component receiver-add-new end -->