<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Title
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h1>Title</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                Noto Sans Bold
            </div>
            <div class="col">
                Noto Sans Regular
            </div>
            <div class="col">
                Titillium Web Bold
            </div>
            <div class="col">
                Titillium Web Regular
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <!-- component heading-display-1 begin -->
                <h1 class="heading-display-1 heading-variation">Head H1 32</h1>
                <!-- component heading-display-1 end -->
            </div>
            <div class="col">
                <!-- component heading-display-1 begin -->
                <h1 class="heading-display-1 heading-variation">Noto Sans Bold</h1>
                <!-- component heading-display-1 end -->
            </div>
            <div class="col">
                <!-- component heading-display-1 begin -->
                <h1 class="heading-display-1  heading-variation heading-normal">Noto Sans Regular</h1>
                <!-- component heading-display-1 end -->
            </div>
            <div class="col">
                <!-- component heading-display-1 begin -->
                <h1 class="heading-display-1">Tittillium Web</h1>
                <!-- component heading-display-1 end -->
            </div>
            <div class="col">
                <!-- component heading-display-1 begin -->
                <h1 class="heading-display-1 heading-normal">Tittillium Web</h1>
                <!-- component heading-display-1 end -->
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <!-- component heading-display-2 begin -->
                <h2 class="heading-display-2 heading-variation">Head H2 24</h2>
                <!-- component heading-display-2 end -->
            </div>
            <div class="col">
                <!-- component heading-display-2 begin -->
                <h2 class="heading-display-2 heading-variation">Noto Sans Bold</h2>
                <!-- component heading-display-2 end -->
            </div>
            <div class="col">
                <!-- component heading-display-2 begin -->
                <h2 class="heading-display-2  heading-variation heading-normal">Noto Sans Regular</h2>
                <!-- component heading-display-2 end -->
            </div>
            <div class="col">
                <!-- component heading-display-2 begin -->
                <h2 class="heading-display-2">Tittillium Web</h2>
                <!-- component heading-display-2 end -->
            </div>
            <div class="col">
                <!-- component heading-display-2 begin -->
                <h2 class="heading-display-2 heading-normal">Tittillium Web</h2>
                <!-- component heading-display-2 end -->
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- component heading-display-3 begin -->
                <h3 class="heading-display-3 heading-variation">Head h3 20</h3>
                <!-- component heading-display-3 end -->
            </div>
            <div class="col">
                <!-- component heading-display-3 begin -->
                <h3 class="heading-display-3 heading-variation">Noto Sans Bold</h3>
                <!-- component heading-display-3 end -->
            </div>
            <div class="col">
                <!-- component heading-display-3 begin -->
                <h3 class="heading-display-3 heading-variation heading-normal">Noto Sans Regular</h3>
                <!-- component heading-display-3 end -->
            </div>
            <div class="col">
                <!-- component heading-display-3 begin -->
                <h3 class="heading-display-3">Tittillium Web</h3>
                <!-- component heading-display-3 end -->
            </div>
            <div class="col">
                <!-- component heading-display-3 begin -->
                <h3 class="heading-display-3 heading-normal">Tittillium Web</h3>
                <!-- component heading-display-3 end -->
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- component heading-display-4 begin -->
                <h4 class="heading-display-4 heading-variation">Head h4 18</h4>
                <!-- component heading-display-4 end -->
            </div>
            <div class="col">
                <!-- component heading-display-4 begin -->
                <h4 class="heading-display-4 heading-variation">Noto Sans Bold</h4>
                <!-- component heading-display-4 end -->
            </div>
            <div class="col">
                <!-- component heading-display-4 begin -->
                <h4 class="heading-display-4  heading-variation heading-normal">Noto Sans Regular</h4>
                <!-- component heading-display-4 end -->
            </div>
            <div class="col">
                <!-- component heading-display-4 begin -->
                <h4 class="heading-display-4">Tittillium Web</h4>
                <!-- component heading-display-4 end -->
            </div>
            <div class="col">
                <!-- component heading-display-4 begin -->
                <h4 class="heading-display-4 heading-normal">Tittillium Web</h4>
                <!-- component heading-display-4 end -->
            </div>
        </div>
        <hr>
    </div>
    <div class="container">  
        <div class="row">
            <div class="col">
                <!-- component heading-display-5 begin -->
                <h5 class="heading-display-5 heading-variation">Head h5 14</h5>
                <!-- component heading-display-5 end -->
            </div>
            <div class="col">
                <!-- component heading-display-5 begin -->
                <h5 class="heading-display-5 heading-variation">Noto Sans Bold</h5>
                <!-- component heading-display-5 end -->
            </div>
            <div class="col">
                <!-- component heading-display-5 begin -->
                <h5 class="heading-display-5 heading-variation heading-normal">Noto Sans Regular</h5>
                <!-- component heading-display-5 end -->
            </div>
            <div class="col">
                <!-- component heading-display-5 begin -->
                <h5 class="heading-display-5">Tittillium Web</h5>
                <!-- component heading-display-5 end -->
            </div>
            <div class="col">
                <!-- component heading-display-5 begin -->
                <h5 class="heading-display-5 heading-normal">Tittillium Web</h5>
                <!-- component heading-display-5 end -->
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- component heading-display-6 begin -->
                <h6 class="heading-display-6 heading-variation">Head h6 12</h6>
                <!-- component heading-display-6 end -->
            </div>
            <div class="col">
                <!-- component heading-display-6 begin -->
                <h6 class="heading-display-6 heading-variation">Noto Sans Bold</h6>
                <!-- component heading-display-6 end -->
            </div>
            <div class="col">
                <!-- component heading-display-6 begin -->
                <h6 class="heading-display-6 heading-variation heading-normal">Noto Sans Regular</h6>
                <!-- component heading-display-6 end -->
            </div>
            <div class="col">
                <!-- component heading-display-6 begin -->
                <h6 class="heading-display-6">Tittillium Web</h6>
                <!-- component heading-display-6 end -->
            </div>
            <div class="col">
                <!-- component heading-display-6 begin -->
                <h6 class="heading-display-6 heading-normal">Tittillium Web</h6>
                <!-- component heading-display-6 end -->
            </div>
        </div>
        <hr>
    </div> 
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>