<!-- component custom-dropdown-btn-add begin -->
<div class="input-group navbar">
    <div class="custom-dropdown custom-dropdown-btn-add">
        <button class="dropdown-toggle btn btn-link" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Additional documents
        </button>
        <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">
                New Identity document
            </a>
            <a class="dropdown-item" href="#">
                Residence confirmation
            </a>
            <a class="dropdown-item" href="#">
                Source of income
            </a>
        </div>
    </div>
</div>
<!-- component custom-dropdown-btn-add end -->