<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Component Step 1
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Component Component Personal Data Editable</h2>
            </div>
            <div class="col-12 mb-5">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                                <div class="col-12 col-sm-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-12  form-group">
                                            <label>Surname</label>
                                            <input class="form-control form-control-lg" type="text" placeholder="Surname">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12  form-group">
                                            <label>Name</label>
                                            <input class="form-control form-control-lg" type="text" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12  form-group">
                                            <label>Middle name (optional)</label>
                                            <input class="form-control form-control-lg" type="text" placeholder="Middle name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12  form-group">
                                            <label>Date of Birth</label>
                                            <div class="form-control-date">
                                                <div class="form-control-date-wrapper">
                                                    <input type="text" class="form-control form-control-lg form-control-date" id="exampleInput" placeholder="Date of Birth">
                                                    <i class="form-control-date-icon"
                                                                        aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12  form-group">
                                            <label>Nationality</label>
                                            <div class="custom-select-arrow">
                                                <select placeholder="Nationality" class="custom-select custom-select-lg">
                                                    <option selected="">Germany</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12  form-group">
                                            <div class="form-radio-inline">
                        
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="customRadio1" name="example1" value="example1">
                                                    <label class="custom-control-label" for="customRadio1">Male</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" class="custom-control-input" id="customRadio2" name="example2" value="example2">
                                                    <label class="custom-control-label" for="customRadio2">Female</label>
                                                </div>
                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-12  form-group">
                                            <label>Address</label>
                                            <div class="custom-select-arrow">
                                                <select placeholder="Country" class="custom-select custom-select-lg">
                                                    <option selected="">Germany</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12  form-group">
                                            <label>City</label>
                                            <input class="form-control form-control-lg" type="text" placeholder="City">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12  form-group">
                                            <label>Street</label>
                                            <input class="form-control form-control-lg" type="text" placeholder="Street">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-lg-6 form-group">
                                            <label>Building</label>
                                            <input class="form-control form-control-lg" type="text" placeholder="Bld.">
                                        </div>
                                        <div class="col-6 col-sm-6 col-lg-6 form-group">
                                            <label>Apart.</label>
                                            <input class="form-control form-control-lg" type="text" placeholder="Apart.">
                                        </div>
                                        <div class="col-12 col-sm-12 col-lg-12 form-group">
                                            <label>Post code</label>
                                            <input class="form-control form-control-lg" type="text" placeholder="Post code">
                                        </div>
                                    </div>
                        
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-5">
                    <h2>Component Component Personal Data Read Only</h2>
                </div>
                <div class="col-12 mb-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                    <div class="col-12 col-sm-6 col-lg-6">
                                            <div class="row">
                                                    <div class="col">
                                                        <label> </label> 
                                                    </div>
                                                </div>
                                        <div class="row">
                                            <div class="col-12  form-group">
                                                <label>Surname</label>
                                                <div class="h4 heading-display-4 heading-variation heading-normal">Smith</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12  form-group">
                                                <label>Name</label>
                                                <div class="h4 heading-display-4 heading-variation heading-normal">William</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12  form-group">
                                                <label>Middle name (optional)</label>
                                                <div class="h4 heading-display-4 heading-variation heading-normal">n/a</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12  form-group">
                                                <label>Date of Birth</label>
                                                <div class="h4 heading-display-4 heading-variation heading-normal">11.11.1976</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12  form-group">
                                                <label>Nationality</label>
                                                <div class="h4 heading-display-4 heading-variation heading-normal">United Kingdom</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12  form-group">
                                                <label>Sex</label>
                                                <div class="h4 heading-display-4 heading-variation heading-normal">Male</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-6">
                                            <div class="row">
                                                    <div class="col"> 
                                                        <label>Adress </label>
                                                    </div>
                                                </div>
                                        <div class="row">
                                            <div class="col-12  form-group">
                                                <label>Country</label>
                                                <div class="h4 heading-display-4 heading-variation heading-normal">United Kingdom</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12  form-group">
                                                <label>City</label>
                                                <div class="h4 heading-display-4 heading-variation heading-normal">London</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12  form-group">
                                                <label>Street</label>
                                                <div class="h4 heading-display-4 heading-variation heading-normal">Trafalgar square</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3 col-sm-12 col-lg-12 form-group">
                                                <label>Bld.</label>
                                                <div class="h4 heading-display-4 heading-variation heading-normal">12</div>
                                            </div>
                                            <div class="col-3 col-sm-12 col-lg-12 form-group">
                                                    <label>Apart</label>
                                                    <div class="h4 heading-display-4 heading-variation heading-normal">051</div>
                                                </div>
                                            <div class="col-6 col-sm-12 col-lg-12 form-group">
                                                    <label>Postcode</label>
                                                    <div class="h4 heading-display-4 heading-variation heading-normal">WC2N 5BW</div>
                                                </div>
                                        </div> 
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>