<div class="row">
        <div class="col-12 col-sm-6 col-lg-6">
            <div class="row">
                <div class="col-12  form-group">
                    <label>Surname</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Surname">
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>Name</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Name">
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>Middle name (optional)</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Middle name">
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>Date of Birth</label>
                    <div class="form-control-date">
                        <div class="form-control-date-wrapper">
                            <input type="text" class="form-control form-control-lg form-control-date" id="exampleInput" placeholder="Date of Birth">
                            <i class="form-control-date-icon"
                                                aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>Nationality</label>
                    <div class="custom-select-arrow">
                        <select placeholder="Nationality" class="custom-select custom-select-lg">
                            <option selected="">Germany</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <div class="form-radio-inline">

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="customRadio1" name="example1" value="example1">
                            <label class="custom-control-label" for="customRadio1">Male</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="customRadio2" name="example2" value="example2">
                            <label class="custom-control-label" for="customRadio2">Female</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6">
            <div class="row">
                <div class="col-12  form-group">
                    <label>Address</label>
                    <div class="custom-select-arrow">
                        <select placeholder="Country" class="custom-select custom-select-lg">
                            <option selected="">Germany</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>City</label>
                    <input class="form-control form-control-lg" type="text" placeholder="City">
                </div>
            </div>
            <div class="row">
                <div class="col-12  form-group">
                    <label>Street</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Street">
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-lg-6 form-group">
                    <label>Building</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Bld.">
                </div>
                <div class="col-6 col-sm-6 col-lg-6 form-group">
                    <label>Apart.</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Apart.">
                </div>
                <div class="col-12 col-sm-12 col-lg-12 form-group">
                    <label>Post code</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Post code">
                </div>
            </div>

        </div>
    </div>