<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Calculator Main
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Calculator Main</h2>
            </div>
            <div class="col-12 mb-5"> 
                <!-- component calculator-main begin -->
                <div class="row calculator-main">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 form-group">
                                <label>Destination country</label>
                                <div class="input-group">
                                    <button class="btn btn-link dropdown-toggle custom-dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                        <span class="custom-flag flag-icon flag-icon-gb"></span> 
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">
                                            <span class="custom-flag flag-icon flag-icon-gb"></span> 
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="custom-flag flag-icon flag-icon-gb"></span> 
                                        </a>
                                    </div>
                                    <div class="heading-display-3 heading-variation heading-normal inline-block">United Arabian Emirates
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label>You send</label>
                                <div class="input-group">
                                    <input type="number" class="form-control form-control-lg"
                                        aria-label="Text input with dropdown button">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">USD</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another
                                                action</a>
                                            <a class="dropdown-item" href="#">Something
                                                else
                                                here</a>
                                            <div role="separator" class="dropdown-divider">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group calculator-main-group">
                                <div class="calculator-main-count">
                                    <div class="calculator-main-label">Comission</div>
                                    <div class="calculator-main-comission heading-display-2">11 EUR</div>
                                </div>
                                <div class="calculator-main-count">
                                    <div class="calculator-main-label">Exchange rate</div>
                                    <div class="calculator-main-rate heading-display-2">1.022 USD</div>
                                </div>
                            </div>
                
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 form-group">
                                <label>Recepient gets</label>
                                <div class="input-group">
                                    <input type="number" class="form-control form-control-lg"
                                        aria-label="Text input with dropdown button">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">USD</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another
                                                action</a>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary btn-lg  btn-block">Get started</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- component calculator-main end -->
            </div>
        </div>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
</html>