<!-- component calculator-main begin -->
<div class="row calculator-main">
    <div class="col-12">
        <div class="row">
            <div class="col-12 form-group">
                <label>Destination country</label>
                <div class="input-group">
                    <button class="btn btn-link dropdown-toggle custom-dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                        <span class="custom-flag flag-icon flag-icon-gb"></span> 
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                            <span class="custom-flag flag-icon flag-icon-gb"></span> 
                        </a>
                        <a class="dropdown-item" href="#">
                            <span class="custom-flag flag-icon flag-icon-gb"></span> 
                        </a>
                    </div>
                    <div class="heading-display-3 heading-variation heading-normal inline-block">United Arabian Emirates
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label>You send</label>
                <div class="input-group">
                    <input type="number" class="form-control form-control-lg"
                        aria-label="Text input with dropdown button">
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">USD</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another
                                action</a>
                            <a class="dropdown-item" href="#">Something
                                else
                                here</a>
                            <div role="separator" class="dropdown-divider">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group calculator-main-group">
                <div class="calculator-main-count">
                    <div class="calculator-main-label">Comission</div>
                    <div class="calculator-main-comission heading-display-2">11 EUR</div>
                </div>
                <div class="calculator-main-count">
                    <div class="calculator-main-label">Exchange rate</div>
                    <div class="calculator-main-rate heading-display-2">1.022 USD</div>
                </div>
            </div>

        </div>
        <div class="row mb-3">
            <div class="col-12 form-group">
                <label>Recepient gets</label>
                <div class="input-group">
                    <input type="number" class="form-control form-control-lg"
                        aria-label="Text input with dropdown button">
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">USD</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another
                                action</a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary btn-lg  btn-block">Get started</button>
            </div>
        </div>
    </div>
</div>
<!-- component calculator-main end -->