<!-- component-custom-input-label begin -->
<div class="form__row js-form-group custom-input-label custom-input-label-lg mb-2">
    <label class="form-label">Lg</label>
    <input class="form-control form-control-lg" type="text">
</div>
<!-- component-custom-input-label end -->

<!-- component-custom-input-label begin -->
<div class="form-group custom-input custom-input-label-lg">  
    <input id="form_name2" class="form-control form-control-lg" type="text"  placeholder="" required>
    <label for="form_name2" class="form-label">Label</label>
</div>
<!-- component-custom-input-label end --> 