<!-- component-custom-modal begin -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large
    modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="row mb-3">
                            <div class="col">
                                <h4 class="heading-display-4  heading-variation heading-normal">Are you sure<br>
                                    you want to delete the receiver?</h4>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="custom-modal-avatar">
                                    <!-- <img src="../../../assets/img/face-big.png" class="custom-modal-img"> -->
                                    <div class="custom-modal-name heading-display-1">
                                        AW
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="custom-modal-login heading-display-1">Ann Wachowski</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-link btn-block">Cancel</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-secondary btn-block">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- component-custom-modal end -->