<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        //= chunks/theme-name.html
        - Custom Checkbox
    </title>
    //= chunks/head.html
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Custom Checkbox, Custom Checkbox Inline</h2>
            </div>
            <div class="col-12 mb-5">
                <div class="row">
                    <div class="col-12">
                        <h5>
                            Custom checkbox
                        </h5>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">custom-form-control-date large</label>
                            //= components/custom-checkbox/component-custom-checkbox-lg.html
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">custom-form-control-date default</label>
                            //= components/custom-checkbox/component-custom-checkbox.html
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="exampleFormControlSelect1">custom-form-control-date small</label>
                        //= components/custom-checkbox/component-custom-checkbox-sm.html
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                        <h5>
                            Custom checkbox (secondary)
                        </h5>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">custom-form-control-date secondary large</label>
                            //= components/custom-checkbox/component-custom-checkbox-secondary-lg.html
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">custom-form-control-date secondary default</label>
                            //= components/custom-checkbox/component-custom-checkbox-secondary.html
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="exampleFormControlSelect1">custom-form-control-date secondary small</label>
                        //= components/custom-checkbox/component-custom-checkbox-secondary-sm.html
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>
                            Custom checkbox (inline)
                        </h5>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">custom-form-control-date large</label>
                            <div class="custom-control-inline">
                                //= components/custom-checkbox/component-custom-checkbox-lg.html
                                //= components/custom-checkbox/component-custom-checkbox-lg.html
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">custom-form-control-date default</label>
                            <div class="custom-control-inline">
                                //= components/custom-checkbox/component-custom-checkbox.html
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="exampleFormControlSelect1">custom-form-control-date small</label>
                        <div class="custom-control-inline">
                            //= components/custom-checkbox/component-custom-checkbox-sm.html
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                        <h5>
                            Custom checkbox (inline, secondary)
                        </h5>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <div class="custom-control-inline">
                                //= components/custom-checkbox/component-custom-checkbox-secondary-lg.html
                                //= components/custom-checkbox/component-custom-checkbox-secondary-lg.html
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <div class="custom-control-inline">
                                //= components/custom-checkbox/component-custom-checkbox-secondary.html
                                //= components/custom-checkbox/component-custom-checkbox-secondary.html
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="custom-control-inline">
                            //= components/custom-checkbox/component-custom-checkbox-secondary-sm.html
                            //= components/custom-checkbox/component-custom-checkbox-secondary-sm.html
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
//= script/scripts.html

</html>