<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Component Send Money Calculator
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Component Send Money Calculator</h2>
            </div>
            <div class="col-12 mb-5">
                <div class="row">
                    <div class="col-12">
                        <!-- component send-money-calculator begin -->
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="custom-select-arrow">
                                            <select placeholder="Country" class="custom-select custom-select-lg">
                                                <option selected="">Destination country</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12 col-lg-6 form-group">
                                        <label>Source amount</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control form-control-lg"
                                                aria-label="Text input with dropdown button">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">USD</button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another
                                                        action</a>
                                                    <a class="dropdown-item" href="#">Something
                                                        else
                                                        here</a>
                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 form-group">
                                        <label>Destination amount</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control form-control-lg"
                                                aria-label="Text input with dropdown button">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">USD</button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another
                                                        action</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                        
                                        <div class="jumbotron jumbotron-light">
                                            <div class="row ">
                                                <div class="col-12 col-lg-4 form-group">
                                                    <label>Receiver will get</label>
                                                    <div class="heading-display-2 heading-bold">1100 USD</div>
                                                </div>
                                                <div class="col-12 col-lg-4 form-group">
                                                    <label>Will be charged from my card</label>
                                                    <div class="heading-display-2 heading-bold heading-muted-color">1015 EUR</div>
                                                </div>
                                                <div class="col-12 col-lg-4 form-group">
                        
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-lg-4 form-group">
                                                    <label>We will convert</label>
                                                    <div class="heading-display-4  heading-variation heading-normal">1000 USD</div>
                                                </div>
                                                <div class="col-12 col-lg-4 form-group">
                                                    <label>Exchange rate</label>
                                                    <div class="heading-display-4  heading-variation heading-normal">1EUR = 1.10 USD</div>
                                                </div>
                                                <div class="col-12 col-lg-4 form-group">
                                                    <label>Comission</label>
                                                    <div class="heading-display-4  heading-variation heading-normal">15 EUR</div>
                                                </div>
                                            </div>
                                        </div>
                        
                                    </div>
                        
                                </div>
                        
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-primary btn-lg  btn-block">Get started</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- component send-money-calculator end -->
                    </div>
                </div>
            </div> 
        </div>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>