<div class="row card-group">
    <div class="col-12 col-sm-4">
        <div class="card-group-item">
             <i class="far fa-credit-card-front fa-2x"></i>
        <div class="card-title">Card</div>
        </div>
       
    </div>
    <div class="col-12 col-sm-4">
        <div class="card-group-item selected">
            <i class="fas fa-money-bill fa-2x"></i>
        <div class="card-title">Cash</div>
    </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="card-group-item disabled">
            <i class="far fa-university fa-2x"></i>
        <div class="card-title">Account</div>
    </div>
    </div>
</div>