<div class="row">
    <div class="col-12"> 
        <div class="jumbotron jumbotron-light card p-3">
            <div class="card-header">
                Summary
              </div>
            <div class="row ">
                <div class="col-12 col-lg-6">
                    <label>Comission</label>
                    <div class="heading-display-3  heading-variation heading-normal">1000 USD</div>
                </div>
                <div class="col-12 col-lg-6">
                    <label>Will be charged from my card</label>
                    <div class="heading-display-2 heading-bold">1015 EUR</div>
                </div> 
            </div> 
        </div> 
    </div> 
</div>