<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Component Custom Dropdown Btn Add
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row"> 
            <div class="col-12 mb-5">
                    <h2>Component Custom Dropdown Btn Add</h2>
                </div>
                <div class="col-12 mb-5">
                    <div class="row">
                        <div class="col-12">
                            <!-- component custom-dropdown-btn-add begin -->
                            <div class="input-group navbar">
                                <div class="custom-dropdown custom-dropdown-btn-add">
                                    <button class="dropdown-toggle btn btn-link" id="navbarDropdown" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Additional documents
                                    </button>
                                    <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">
                                            New Identity document
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            Residence confirmation
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            Source of income
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- component custom-dropdown-btn-add end -->
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>