<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Finflow Bootstrap Theme
        - Component Receiver Preview View
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" types="text/css" href="/style/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/81d2a47e92.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container my-3">
        <div class="row">
            <div class="col-12">
                <a onclick="history.back()" style="cursor: pointer"> <i class="fas fa-backward"></i> Back </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>Component Receiver Preview View</h2>
            </div>
            <div class="col-12 mb-5">
                <div class="row">
                    <div class="col-12 receiver-preview-view-active">
                        <!-- component receiver-preview-view begin -->
                        <div class="row receiver-preview-view">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 receiver-preview-view-buttons-wrapper"> 
                                        <div class="receiver-preview-view-buttons">
                                            <button type="button" class="receiver-preview-view-button btn btn-link btn-preview">View </button>
                                            <button class="receiver-preview-view-button btn btn-link btn-edit">Edit </button>
                                        </div> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="receiver-preview-view-wrapper jumbotron jumbotron-light">
                                            <div class="receiver-preview-view-close">
                                                <i class="receiver-preview-view-close-icon"></i>
                                            </div>
                                            <div class="receiver-preview-view-item">
                                                <div class="receiver-preview-view-foto">
                                                    <div class="receiver-preview-view-avatar-wrapper">
                                                        <div class="receiver-preview-view-avatar">
                                                            <div class="receiver-preview-view-name heading-display-1">
                                                                <i class="far fa-camera"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="receiver-preview-view-form component-step">
                                                    <div class="row">
                                                        <div class="col-6 col-lg-4">
                                                            <div class="row">
                                                                <div class="col-12 col-lg-12 form-group">
                                                                    <label>Surname</label>
                                                                    <div class="receiver-preview-view-text ">Ann</div>
                                                                </div>
                                                                <div class="col-12 col-lg-12 form-group">
                                                                    <label>Name</label>
                                                                    <div class="receiver-preview-view-text ">Wachowski</div>
                                                                </div>
                                                                <div class="col-12 col-lg-12 form-group">
                                                                    <label>Middle name (optional)</label>
                                                                    <div class="receiver-preview-view-text ">n/a</div>
                                                                </div>
                                                                <div class="col-12 col-lg-12 form-group">
                                                                    <label>Date of Birth</label>
                                                                    <div class="receiver-preview-view-text ">18.12.1974</div>
                                                                </div>
                                                                <div class="col-12 col-lg-12 form-group">
                                                                    <label>Nationality</label>
                                                                    <div class="receiver-preview-view-text ">Czech Rebuplic</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-lg-4">
                                                            <div class="row">
                                                                <div class="col-12 col-lg-12 form-group">
                                                                    <label>Country</label>
                                                                    <div class="receiver-preview-view-text ">Czech Rebuplic</div>
                                                                </div>
                                                                <div class="col-12 col-lg-12 form-group">
                                                                    <label>City</label>
                                                                    <div class="receiver-preview-view-text ">Prague</div>
                                                                </div>
                                                                <div class="col-12 col-lg-12 form-group">
                                                                    <label>Street</label>
                                                                    <div class="receiver-preview-view-text ">Trafalgar square</div>
                                                                </div>
                                                                <div class="col-12 col-lg-12 form-group">
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <label>Bld.</label>
                                                                            <div class="receiver-preview-view-text">12</div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label>Apart</label>
                                                                            <div class="receiver-preview-view-text">051</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-lg-12 form-group">
                                                                    <label>Postcode</label>
                                                                    <div class="receiver-preview-view-text ">WC2N 5BW</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-lg-4">
                                                            <div class="row">
                                                                <div class="col-12 col-lg-12 form-group">
                                                                    <label>Phone number</label>
                                                                    <div class="receiver-preview-view-text ">+44025687482</div>
                                                                </div>
                                                                <div class="col-12 col-lg-12 form-group">
                                                                    <label>E-mail</label>
                                                                    <div class="receiver-preview-view-text ">a.wachowski@gamail.com</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- component receiver-preview-view end -->
                        
                        <script>
                            $(document).ready(function () {
                                $('.component-step-collapse-button').click(function () {
                                    $('.component-step-collapse-button').toggleClass("active");
                                    if ($('.component-step-collapse-button').hasClass("active")) {
                                        $('.component-step-collapse-button').text("Hide more");
                                    } else {
                                        $('.component-step-collapse-button').text("Show less");
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div> 
        </div>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>