<!-- component-modal-danger begin -->
<div id="myModal3" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-error">
            <div class="modal-body">
                <div class="modal-title">

                    Sorry! Remittance could not be created. Connection with partner was lost .
                    Please,
                    try again later?
                </div>
            </div>
            <div class="modal-buttons">
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <button type="button" class="modal-button btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- component-modal-danger end -->