<!-- component-add-document-read-only begin -->
<div class="row">
    <div class="col-12 mb-3">
        <h2 class="component-step-pre-title">Identity Document<span class="badge badge-warning ml-2">Added</span> </h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6 col-lg-6">
        <div class="row">
            <div class="col-12 form-group">
                <label>Identity document</label>
                <div class="h4 heading-display-4 heading-variation heading-normal">Passport</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label>Number ID</label>
                <div class="h4 heading-display-4 heading-variation heading-normal">7500655412 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label>Issued by</label>
                <div class="h4 heading-display-4 heading-variation heading-normal">Ministry of foreign affairs
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-sm-6 col-lg-6">
        <div class="row">
            <div class="col-12 form-group">
                <label>Citizenship</label>
                <div class="h4 heading-display-4 heading-variation heading-normal">United Kingdom</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label>Issued by</label>
                <div class="h4 heading-display-4 heading-variation heading-normal">31.03.2018</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label>Expired by</label>
                <div class="h4 heading-display-4 heading-variation heading-normal">30.03.2028</div>
            </div>
        </div>
    </div>
</div>
<!-- component-add-document-read-only end -->