<!-- component-step-read-only-3 begin -->
<div class="row component-step">
    <div class="col-12 component-step-read-only">
        <div class="row">
            <div class="col">
                <div class="component-step-title">Step 3</div>
            </div>
        </div>
       
       
        <div class="row">
            <div class="col-12 mb-2">
                <h2 class="component-step-pre-title">Scan Identity Document<span
                        class="badge badge-warning ml-2">Added</span><button
                        class="btn btn-link btn-lg  btn-edit  "></button> </h2>
            </div>
        </div>
        <div class="row mb-4">
                <div class="col-12">
                    <div class="component-step-photo">
                            <img src="../../../assets/img/men.png"
                            alt="photo">

                    </div>
                   
                </div>
            </div>
        <div class="row mb-4">
                <div class="col">
                        <div class="component-step-info data-display data-display-1 emphasis">
                                <div class="data-input">
                                    <div><i class="far fa-check"></i> Great job!</div>
                                </div>
                            </div>
                    <div class="component-step-info data-display data-display-2">
                        <div class="data-input">
                            <div>Click Send for validation your data. A member of our team may need to speak with you, so please be ready for a video call.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                    <div class="col-12 text-center"><button class="btn btn-primary btn-lg">Send for validation</button></div> 
                </div>
    </div>
</div>
<!-- component-step-read-only-3 end -->